# Ignore
.vscode
config/config.cfg
data/*
files/*
fileslocal/*
log/*
nimcache
nimcache/*
plugins/nimwc_plugins
private/*
public/files/*
public/css/backup.css
public/js/backup.js
public/css/backup_private.css
public/js/backup_private.js
public/css/contact.css
public/js/contact.js
public/css/contact_private.css
public/js/contact_private.js
public/css/mailer.css
public/js/mailer.js
public/css/mailer_private.css
public/js/mailer_private.js
public/css/openregistration.css
public/js/openregistration.js
public/css/openregistration_private.css
public/js/openregistration_private.js
public/css/themes_private.css
plugins/themes/stylesheets/style.css
tmp
tmp/*
TODO.md
nimwc
nimwc_main
website_rt11

# Allow
!private/screenshots/