static/* linguist-vendored
config/* linguist-vendored
data/* linguist-vendored
files/* linguist-vendored
fileslocal/* linguist-vendored
log/* linguist-vendored
nimcache/* linguist-vendored
private/* linguist-vendored
public/* linguist-vendored
plugins/* linguist-vendored
docs/* linguist-vendored
