# Ignore
.vscode
config/config.cfg
data/*
files/*
fileslocal/*
log/*
nimcache
nimcache/*
private/*
public/files/*
public/css/mailer.css
public/js/mailer.js
runwebsitecreator.sh
tmp
websitecreator
website_rt11

# Allow
!private/screenshots/