.vscode

config/config.cfg

data/*

files/*
fileslocal/*

log/*

nimcache
nimcache/*

!private/screenshots/
private/*

public/files/*

public/robots.txt
public/sitemap.xml
public/css/*
public/js/*
!public/css/style.css
!public/css/style_admin.css
!public/css/style_custom.css
!public/js/js.js
!public/js/js_admin.js
!public/js/js_custom.js
!public/js/editor.js
!public/js/codemirror_formatting.js
!public/js/grapesjsbs4.min.js
!public/js/grapesjs_custom.js

plugins/*
!plugins/plugin_import.txt

tmp
tmp/*

TODO.md

nimwc
nimwc_main
nimwcpkg/nimwc_main
