-d:ssl
#-d:firejail
-d:webp
-d:recaptcha
#-d:packedjson
#-d:demo        # activate the demo mode
#-d:adminnotify # notify admin email on errors
#-d:hardened    # hardens security. Performance cost at ~20%.
#-d:postgres    # use Postgres database instead of SQLite
