/*
  Main elements
*/
body {
  min-height: 80vh;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

div#background {
  background-attachment: fixed;
  background-image: url("/images/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  filter: alpha(opacity=30);
  opacity: 0.30;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#pagewrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  min-height: 80vh;
}
@media only screen and (max-width: 1200px) {
  #pagewrapper {
    width: 100%
  }
}

footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.footer {
  border-top: 1px solid #dee2e6;
  background-color: transparent;
  padding: 2rem 1.5rem 1rem;
  margin-top: 1rem;
}
footer .footerLeft u,
footer .footerMiddle,
footer .footerRight u {
  color: black;
}
@media only screen and (max-width: 768px) {
  footer {
    width: auto;
  }
}

header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
  Bootstrap specific
*/
.hidden {
  display: none;
}
.has-text-centered {
  text-align: center;
}
div#allblogPosts ul {
  padding-inline-start: 0;
}


/*
  Navbar Bootstrap
*/
nav#navbar{
  background-color: transparent;
  margin-bottom: 15px;
}
nav#navbar .navbar-brand {
  color: #0059b8;
  font-weight: 400;
  font-size: 28px;
}
nav#navbar .navbar-brand div {
  display: inline;
  vertical-align: bottom;
  padding-left: 10px;
}
nav#navbar .navbar-brand img {
  max-height: 70px;
}
nav#navbar a.nav-link {
  color: #0059b8;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 1.5rem;
  margin-right: 25px;
}
nav#navbar div#navbarInside {
  width: 100%;
}
nav#navbar div.navbar-toggler {
  text-align: right;
  border: none;
  float: right;
  margin-top: 20px;
}
nav#navbar div#mobileMenu div.navbar-toggler {
  margin-top: 30px;
  margin-right: 35px;
}
nav#navbar div.baricon {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 1.0s;
}
nav#navbar div#mobileMenu div.baricon {
  background-color: #0059b8;
}
nav#navbar div#mobileMenu.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
nav#navbar div#mobileMenu.active .bar2 {
  opacity: 0;
}
nav#navbar div#mobileMenu.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
#mobileMenu {
  background: #221f1f;
  height: 100%;
  left: 0;
  opacity: 0.95;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
#mobileMenu div.menuClose {
  text-align: right;
  padding-right: 20px;
}
#mobileMenu span.menuClose {
  font-size: 3rem;
  z-index: 999;
  width: 100%;
  color: #0059b8;
}
@media only screen and (max-width: 768px) {
  header {
    width: auto;
  }
  nav#navbar .navbar-brand div {
    display: none;
  }
  nav#navbar ul.navbar-nav {
    margin-top: 200px;
    text-align: center;
  }
  nav#navbar div#mainMenu {
    display: none;
  }
  nav#navbar a.nav-link {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  nav#navbar {
    display: block;
  }
}


/*
  Navbar Bulma
*/
html.loggedin-true nav.navbar .navbar-end .buttons {
  display: none
}
.navbar.is-fixed-top {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
@media only screen and (max-width: 768px) {
  .navbar.is-fixed-top {
    width: auto;
  }
}
.navbar #navbarMain a.nav-link {
  color: #0059b8;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 1.7rem;
  margin-right: 5px;
  padding-top: 1.4rem;
}
.navbar .navbar-item img {
  max-height: 3.75rem;
}

/*
  Navbar settings
*/
div#navbarSettings {
  background: whitesmoke;
  position: fixed;
  z-index: 666;
  width: 100%;
  margin: 20px 0 0 -20px;
  -webkit-box-shadow: 0 6px 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 6px 5px 0 rgba(0,0,0,0.75);
  box-shadow: 0 6px 5px 0 rgba(0,0,0,0.75);
}
div#navbarSettings span.nav-item a,
div#navbarSettings a.nav-link {
  color: black;
}
/* Add some spacing to main when settings navbar is visible*/
html.loggedin-true main {
  padding-top: 40px;
}


/*
  Animation
*/
.reveal-normal,
.reveal-left,
.reveal-right {
  position:relative;
}
.reveal.reveal-top.slide-top {

	-webkit-animation: slide-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.reveal.reveal-right.slide-right {

  -webkit-animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  			animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.reveal.reveal-left.slide-left {

	-webkit-animation: slide-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.reveal-bottom.slide-bottom {
	-webkit-animation: slide-bottom 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


/*
  Fonts
*/
h1 {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: .9rem;
}
h3 {
  font-size: 1.8rem;
  margin-bottom: .6rem;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: .4rem;
}
h5 {
  font-size: 1.2rem;
  font-weight: 450;
  margin-top: .3rem;
}


/*
  General items
*/
input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
input:focus {
  box-shadow: 2px 2px 5px 0 rgba(186,186,186,1);
  outline: auto;
}
a.btn,
button.btn {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
}



/*
  Universal
*/
/* Image container loads all available files for quick injection into writing */
#imagecontainer {
  margin-top: 10px;
}
#imagecontainer img.thumbnail {
  cursor: pointer;
}



/*
  Login page
*/
div#login {
  text-align: center;
}
#login form {
  margin-right: auto;
  margin-left: auto;
  width: 310px;
  padding: 10px;
  margin-top: 4rem;
  -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.75);
}
#login form summary {
  cursor: pointer;
}
#recaptcha {
  margin-bottom: 5px;
  margin-top: 20px;
}



/*
    All blog posts
*/
div#allblogPosts {
  margin-bottom: 40px;
  margin-top: 55px;
}
div#allblogPosts ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
}
div#allblogPosts ul>li {
  background: white;
  border: 1px solid #bcbcbc9e;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 100%;
}
div#allblogPosts h5.blogName {
  font-weight: 600;
}
div#allblogPosts a.blogName {
  color: black;
}
div#allblogPosts .category,
div#allblogPosts .tags {
  align-items: center;
  border-radius: 4px;
  border: 1px solid #575757;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  margin-top: .7rem;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
}
div#allblogPosts .category {
  background-color: #959595;
  color: #ffffff;
}
div#allblogPosts .category:hover {
  background-color: #b5b0b0;
  color: rgb(68, 68, 68);
}
div#allblogPosts .category.active:hover,
div#allblogPosts .category.active {
  border: 1px solid black;
  background-color: #575656;
  color: white;
  cursor: default;
}
div#allblogPosts .tags {
  background-color: #f5f5f5;
  color: #4a4a4a;
  margin-bottom: 0;
}
div#allblogPosts .tags:hover {
  background-color: #e4e4e4;
}
/* Category selector on blog overview */
div#allblogPosts .categories {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  text-align: center;
  display: none;
}
div#allblogPosts .categories div {
  display: inline-block;
}
div#allblogPosts .categories div a.category {
  font-size: 1.2rem;
  height: 2rem;
  margin-top: .2rem;
}


/*
    Standard blogpage
*/
.blogpage {
  background: white;
  color: black;
  padding: 20px;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 15px;
}
.blogpage h1,
.blogpage h2,
.blogpage h3,
.blogpage h4,
.blogpage h5 {
  margin-top: 2rem;
}
.blogpage img.fullwidth {
  width: 100%;
  height: auto;
}
.blogpage .iframeContainer {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.blogpage .iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blogpage>h1 {
  margin-top: 0;
}



/*
    Standard page
*/
.standardpage {
  background: white;
  color: black;
  padding: 20px;
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}



/*
	Pages
*/
/*
	Frontpage
_________________*/
#frontpage {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#frontpage .title {
  align-items: center;
  min-height: calc(100vh - 100px);
  margin-top: 100px;
  margin-bottom: 100px;
}
#frontpage .title h1 {
  font-size: 3.6rem;
  font-weight: 300;
}
#frontpage h2.seemore a{
  text-align: center;
  border: 1px solid white;
  padding: 0.5rem 1.7rem;
  background: #8181819c;
  margin-left: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 1.5rem;
}
#frontpage .title h2,
#frontpage .text2 h2,
#frontpage .text5 h2 {
  font-size: 3.0rem;
  font-weight: 300;
}
#frontpage .text2 h2,
#frontpage .text5 h2 {
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #005bbc;
}
#frontpage .text5 h2 {
  text-align: center;
  margin-bottom: 3.5rem;
}
#frontpage .text5 {
  margin-top: 75px;
}
#frontpage .text3 {
  margin-top: 150px;
  margin-bottom: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid #d9d9d9e8;
  border-radius: 15px;
}
#frontpage .text3 .text3element {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#frontpage .text3 .text3element h4 {
  font-weight: 400;
  font-size: 1.9rem;
  text-decoration: underline;
}
#frontpage .text3 .text3element p {
  line-height: 2rem;
  font-size: 20px;
  font-weight: 300;
}
#frontpage .text4 .text4element p {
  margin-bottom: 0.8rem;
}
#frontpage .text4 .text4element p label {
  width: 60px;
  display: inline-block;
}
#frontpage .text4 h2,
#frontpage .text6 h2 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #005bbc;
}
#frontpage .text6 {
  margin-top: 75px;
}
#frontpage .text4container,
#frontpage .text6container {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid #d9d9d9e8;
  border-radius: 15px;
}
#frontpage .text6container {
  text-align: center;
  font-size: 1.1rem;
}
#frontpage div.featurelist {
  font-size: 1.2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#frontpage div.featurelist ul {
  list-style: disc;
  margin-left: 45px;
}
#frontpage .spacer {
  height: 150px;
}
#frontpage .column>div {
  padding: 20px;
}
#frontpage kbd {
  padding: .2rem .4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem;
  word-break: break-all;
}
@media only screen and (max-width: 768px) {
  #frontpage .title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #frontpage .title h2 {
    font-size: 2rem;
    margin-top: 35px;
  }
  #frontpage .text2 h2 {
    font-size: 2rem;
  }
}

/*
	About
___________________*/
#about {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#about .title {
  align-items: center;
  min-height: 250px;
  margin-top: 100px;
}
#about .title h1 {
  font-size: 3.6rem;
  font-weight: 300;
}
#about .title h2 {
  font-size: 3rem;
  font-weight: 300;
}
#about .text1 h2 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #005bbc;
}
#about .text1container {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid #d9d9d9e8;
  border-radius: 15px;
}
#about .text1container .column>div {
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  #about .title {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 75vh;
  }
  #about .title h1 {
    font-size: 3rem;
  }
  #about .title h2 {
    font-size: 2rem;
    margin-top: 25px;
  }
}
