/*style_parallax.css*/
/*
  Theme: Parallax
  Do not change the lines above
  This is the default stylesheet  

  To use this themes parallax features
*/

/*
  Main elements
*/

html {
}

body {
  background: rgb(28, 26, 51);
}
body [class*="para_"]:nth-child(2n) {
  box-shadow: inset 0 0 1em #111;
}
body .para {
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

#pagewrapper {
  background: rgb(28, 26, 51);
  width: 100%;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1200px) {
  #pagewrapper {
    width: 100%
  }
}

#page {
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  margin-bottom: 96px;
}
#page.true {
  margin-top: 72px;
}
@media only screen and (max-width: 768px) {
  #page {
    margin-bottom: 0px;
    margin-top: 35px;
  }
}

footer {
  border-top: 1px solid #dee2e6;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  background: rgb(28, 26, 51);
  z-index: 999;
}
footer #footerInside {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
footer .footerLeft u,
footer .footerMiddle,
footer .footerRight u {
  color:white;
}
@media only screen and (max-width: 768px) {
  footer {
    position: initial;
    bottom: auto;
  }
}

header {
  display: inline-block;
  width: 100%;
}
nav#navbar{
  background-color: transparent;
  border-bottom: 1px solid #dee2e6;
  display: block;
  z-index: 999;
  background: #1c1a33;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
}
nav#navbar #navbarInside {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
nav#navbar .navbar-brand {
  color: white;
}
nav#navbar a.nav-link {
  color: white;
}
nav#navbar .navbar-toggler {
  border: none;
}
nav#navbar .navbar-toggler-icon {
  border: 1px solid white;
}
@media only screen and (min-width: 768px) {
  nav#navbar {
    display: block;
  }
}


/* Navbar settings */
div#navbarSettings {
  z-index: 1000;
  top: 0;
  position: fixed;
}
div#navbarSettings a {
  color: white;
}
div#navbarSettings .dropdown-menu a {
  color: black;
}



/*
  General items
*/
input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
input:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
a.btn,
button.btn {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
}



/*
  Saved notification
*/
#notifySaved {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  background: #27cb4ede;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}



/*
  Universal
*/
/* Image container loads all available files for quick injection into writing */
#imagecontainer {
  margin-top: 10px;
}
#imagecontainer img.thumbnail {
  cursor: pointer;
}



/*
  Login page
*/
div#login {
  text-align: center;
}
#login form {
  color: white;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  width: 310px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
#recaptcha {
  margin-bottom: 5px;
  margin-top: 20px;
}
.login {
  color: white;
}


/*
  Plugins
*/
ul.pluginSettings {
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
li.pluginSettings {
  border: 1px solid rgba(128, 128, 128, 0.55);
  list-style-type: none;
  padding: 10px 15px;
  width: 350px;
}
li.pluginSettings.enabled {
  background: white;
}
li.pluginSettings.disabled {
  background: rgba(128, 128, 128, 0.36);
}
li.pluginSettings&gt;div {
  display: inline-block;
}
li.pluginSettings .name {
  width: 240px;
  display: inline;
}
li.pluginSettings .name i {
  font-size: 90%;
}
li.pluginSettings .enablePlugin,
li.pluginSettings .disablePlugin {
  border-radius: 10px;
  cursor: pointer;
  float: right;
  padding: 0px 15px;
}
li.pluginSettings .enablePlugin {
  background: rgba(0, 128, 0, 0.5);
}
li.pluginSettings.enabled .enablePlugin {
  display: none;
}
li.pluginSettings .disablePlugin {
  background: rgba(194, 54, 54, 0.5);
}
li.pluginSettings.disabled .disablePlugin {
  display: none;
}



/*
  Plugins repo
*/
ul.pluginRepo {
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
li.pluginRepo {
  border: 1px solid rgba(128, 128, 128, 0.55);
  list-style-type: none;
  padding: 10px 15px;
}
li.pluginRepo span.version {
  background: rgb(236, 236, 236);
  border-radius: 5px;
  border: 1px solid grey;
  padding: 0px 2px;
  color: black;
}
li.pluginRepo span.version.git {
  background-color: #ffc107;
}




/*
  Settings overview
*/
div#settings {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
div#settings div {
  margin-bottom: 15px;
  margin-top: 15px;
}
div#settings .btn {
  width: 120px;
  color: black;
  border-color: white;
  background: white;
}


/*
  Settings page
*/
div#settingsEdit {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
div#settingsEdit input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
div#settingsEdit textarea {
  width: 100%;
  min-height: 300px;
  margin-bottom: 35px;
}
div#settingsEdit input:focus,
div#settingsEdit textarea:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
div#settingsEdit pre.templateCode {
  border-radius: 2px;
  border: 1px solid grey;
  padding: 5px;
}
button.settingsRestore,
button.settingsSaveCode,
button.settingsSave {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
  width: 80px;
}
button.settingsRestore {
  margin-left: 10px;
}


/*
  Files
*/
div#fileAddContainer,
div#files {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
div#fileAddContainer {
  margin-bottom: 20px;
}
div#fileAdd button {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
}
form#fileAdd {
  display: none;
  border: 1px solid grey;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
div#files span a {
  color: white;
}



/*
  Users
*/
div#users {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
div#users span a.delete {
  color: white;
}
div#usersAddContainer {
  margin-bottom: 20px;
  color: black;
}
form#usersAdd {
  display: none;
  border: 1px solid grey;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
div#users ul.list-group {
  color: black;
}
div#users label {
  margin-right: 10px;
  width: 50px;
  color: white;
}
div#users select {
  width: 205px;
  margin-left: 3px;
}


/*
  Users profile
*/
div#user {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
div#user label {
  width: 200px;
  margin-bottom: 0px;
  margin-top: .5rem;
}
div#user #editProfilePhoto {
  border-radius: 2px;
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  max-width: 406px;
  padding: 5px 2px;
  text-align: center;
}

@media only screen and (max-width: 768px) {

  div#user label {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  div#user div.save {
    text-align: left;
    margin-bottom: 20px;
  }
  div#user button.save {
    margin-top: 15px;
    margin-right: auto;
  }
}



/*
  New blog post
*/
div#newblogData {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
div#newblogData input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
div#newblogData textarea {
  width: 100%;
}
div#newblogData input:focus,
div#newblogData textarea:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
div#newblogData label {
  width: 200px;
}
div#newblogData select {
  width: 206px;
  display: inline;
}
#summernote {
  margin-bottom: 20px;
}
button.newblogSave,
button.newblogOptions {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
  width: 80px;
}
div.newblogOptions {
  display: none;
}
@media only screen and (max-width: 768px) {
  div#newblogData {
    padding: 0px 0px;
  }
  div#newblogData label {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  div#newblogData button {
    margin-top: 15px;
  }
}



/*
    All blog posts
*/
div#allblogPosts .list-group {
  margin: 40px 0px;
}
div#allblogPosts .list-group-item {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bcbcbc5c;
}



/*
    All pages
*/
div#allpagePosts .list-group {
  margin: 40px 0px;
}
div#allpagePosts .list-group-item {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bcbcbc5c;
}


/*
    Summernote
*/
.note-editable.panel-body {
  overflow-y: scroll;
}


/*
    Plugin: Themes
*/
div#themes li.stylesheet {
  background: white;
  color: black;
}
div#themes li.stylesheet.active {
  background: rgba(142, 226, 142, 0.94)!important;
}