/*style_nimwc.css*/
/*
  Theme: NimWC
  Do not change the lines above
  This is the default stylesheet  
*/

/*
  Main elements
*/

html {
}

body {
  background-image: url("/images/bgbuilding.jpeg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

#pagewrapper {
  background: white; /*rgba(255, 255, 255, 0.94);*/
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  min-height: 100vh;
}
@media only screen and (max-width: 1200px) {
  #pagewrapper {
    width: 100%
  }
}

footer {
  border-top: 1px solid #dee2e6;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
footer .footerLeft u,
footer .footerMiddle,
footer .footerRight u {
  color: black;
}

header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
nav#navbar{
  background-color: transparent;
  margin-bottom: 15px;
}
nav#navbar .navbar-brand {
  color: #0059b8;
  font-weight: 400;
  font-size: 28px;
}
nav#navbar a.nav-link {
  color: #0059b8;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 20px;
  margin-right: 25px;
}
nav#navbar .navbar-toggler {
  border: none;
}
@media only screen and (min-width: 768px) {
  nav#navbar {
    display: block;
  }
}


/* Navbar settings */
div#navbarSettings a {
  color: black
}



/*
  General items
*/
input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
input:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
a.btn,
button.btn {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
}


/*
  Saved notification
*/
#notifySaved {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  background: #27cb4ede;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}


/*
  Universal
*/
/* Image container loads all available files for quick injection into writing */
#imagecontainer {
  margin-top: 10px;
}
#imagecontainer img.thumbnail {
  cursor: pointer;
}



/*
  Login page
*/
div#login {
  text-align: center;
}
#login form {
  margin-right: auto;
  margin-left: auto;
  width: 310px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
#recaptcha {
  margin-bottom: 5px;
  margin-top: 20px;
}


/*
  Plugins
*/
ul.pluginSettings {
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
li.pluginSettings {
  border: 1px solid rgba(128, 128, 128, 0.55);
  list-style-type: none;
  padding: 10px 15px;
  width: 350px;
}
li.pluginSettings.disabled {
  background: rgba(128, 128, 128, 0.36);
}
li.pluginSettings>div {
  display: inline-block;
}
li.pluginSettings .name {
  display: inline;
  width: 240px;
}
li.pluginSettings .name i {
  font-size: 90%;
}
li.pluginSettings .enablePlugin,
li.pluginSettings .disablePlugin {
  border-radius: 10px;
  cursor: pointer;
  float: right;
  padding: 0px 15px;
}
li.pluginSettings .enablePlugin {
  background: rgba(0, 128, 0, 0.5);
}
li.pluginSettings.enabled .enablePlugin {
  display: none;
}
li.pluginSettings .disablePlugin {
  background: rgba(194, 54, 54, 0.5);
}
li.pluginSettings.disabled .disablePlugin {
  display: none;
}



/*
  Plugins repo
*/
ul.pluginRepo {
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
li.pluginRepo {
  border: 1px solid rgba(128, 128, 128, 0.55);
  list-style-type: none;
  padding: 10px 15px;
}
li.pluginRepo span.version {
  background: rgb(236, 236, 236);
  border-radius: 5px;
  border: 1px solid grey;
  padding: 0px 2px;
}
li.pluginRepo span.version.git {
  background-color: #ffc107;
}



/*
  Settings overview
*/
div#settings {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
div#settings div {
  margin-bottom: 15px;
  margin-top: 15px;
}
div#settings .btn {
  width: 120px;
}


/*
  Settings page
*/
div#settingsEdit {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
div#settingsEdit input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
div#settingsEdit textarea {
  width: 100%;
  min-height: 300px;
  margin-bottom: 35px;
}
div#settingsEdit input:focus,
div#settingsEdit textarea:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
div#settingsEdit pre.templateCode {
  border-radius: 2px;
  border: 1px solid grey;
  padding: 5px;
}
button.settingsRestore,
button.settingsSaveCode,
button.settingsSave {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
  width: 80px;
}
button.settingsRestore {
  margin-left: 10px;
}


/*
  Files
*/
div#fileAddContainer,
div#files {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
div#fileAddContainer {
  margin-bottom: 20px;
}
div#fileAdd button {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
}
form#fileAdd {
  display: none;
  border: 1px solid grey;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
div#files span a {
  color: white;
}



/*
  Users
*/
div#users {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
div#users span a.delete {
  color: white;
}
div#usersAddContainer {
  margin-bottom: 20px;
}
form#usersAdd {
  display: none;
  border: 1px solid grey;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
div#users label {
  margin-right: 10px;
  width: 50px;
}
div#users select {
  width: 205px;
  margin-left: 3px;
}


/*
  Users profile
*/
div#user {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
div#user label {
  width: 200px;
  margin-bottom: 0px;
  margin-top: .5rem;
}
div#user #editProfilePhoto {
  border-radius: 2px;
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  max-width: 406px;
  padding: 5px 2px;
  text-align: center;
}
@media only screen and (max-width: 768px) {

  div#user label {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  div#user div.save {
    text-align: left;
    margin-bottom: 20px;
  }
  div#user button.save {
    margin-top: 15px;
    margin-right: auto;
  }
}



/*
  New blog post
*/
div#newblogData {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
div#newblogData input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
div#newblogData textarea {
  width: 100%;
}
div#newblogData input:focus,
div#newblogData textarea:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
div#newblogData label {
  width: 200px;
}
div#newblogData select {
  width: 206px;
  display: inline;
}
#summernote {
  margin-bottom: 20px;
}
button.newblogSave,
button.newblogOptions {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
  width: 80px;
}
div.newblogOptions {
  display: none;
}
@media only screen and (max-width: 768px) {
  div#newblogData {
    padding: 0px 0px;
  }
  div#newblogData label {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  div#newblogData button {
    margin-top: 15px;
  }
}



/*
    All blog posts
*/
div#allblogPosts .list-group {
  margin: 40px 0px;
}
div#allblogPosts .list-group-item {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bcbcbc5c;
}



/*
    All pages
*/
div#allpagePosts .list-group {
  margin: 40px 0px;
}
div#allpagePosts .list-group-item {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bcbcbc5c;
}


/*
    Summernote
*/
.note-editable.panel-body {
  overflow-y: scroll;
}



/*
	Animate
*/
.reveal {
opacity:0;transform:translate3d(0,100px,0);transition:opacity 2s cubic-bezier(.215,.61,.355,1),transform 2s cubic-bezier(.215,.61,.355,1)
}
.reveal-show {
  opacity:1;transform:translateZ(0)
}
      


/*
	Pages
*/
/*
	Frontpage
_________________*/
#frontpageContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  align-items: center;
  min-height: calc(100vh - 324px);
  margin-top: 100px;
}
.title h1 {
  font-size: 3.6rem;
  font-weight: 300;
}
.title h2,
.text2 h2,
.text5 h2 {
  font-size: 3.0rem;
  font-weight: 300;
}
.text2 h2,
.text5 h2 {
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #005bbc;
}
.text5 h2 {
  text-align: center;
  margin-bottom: 3.5rem;
}
.text5 {
  margin-top: 75px;
}
.text3 {
  margin-top: 150px;
  margin-bottom: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #d9d9d9e8;
  border-radius: 15px;
}
.text3 .text3element {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.text3 .text3element h4 {
  font-weight: 400;
  font-size: 1.9rem;
}
.text3 .text3element p {
  line-height: 2rem;
  font-size: 20px;
  font-weight: 300;
}
.text4 h2,
.text6 h2 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #005bbc;
}
.text6 {
  margin-top: 150px;
}
.spacer {
  height: 150px;
} 

/*
	About
___________________*/
#aboutContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  align-items: center;
  min-height: 250px;
  margin-top: 100px;
}
.title h1 {
  font-size: 3.6rem;
  font-weight: 300;
}
.text1 h2 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #005bbc;
}
      