/*style_nimwc.css*/
/*
  Theme: NimWC
  Do not change the lines above
  This is the default stylesheet
*/

/*
  Main elements
*/
body {
  min-height: 100vh;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#pagewrapper {
  /*background: white;*/
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  min-height: 100vh;
}
@media only screen and (max-width: 1200px) {
  #pagewrapper {
    width: 100%
  }
}

footer {
  border-top: 1px solid #dee2e6;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
footer .footerLeft u,
footer .footerMiddle,
footer .footerRight u {
  color: black;
}
@media only screen and (max-width: 768px) {
  footer {
    width: auto;
  }
}

header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
nav#navbar{
  background-color: transparent;
  margin-bottom: 15px;
}
nav#navbar .navbar-brand {
  color: #0059b8;
  font-weight: 400;
  font-size: 28px;
}
nav#navbar .navbar-brand div,
nav#navbar .navbar-brand img {
}
nav#navbar .navbar-brand div {
  display: inline;
  vertical-align: bottom;
  padding-left: 10px;
}
nav#navbar .navbar-brand img {
  max-height: 70px;
}
nav#navbar a.nav-link {
  color: #0059b8;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 1.5rem;
  margin-right: 25px;
}
nav#navbar div#navbarInside {
  width: 100%;
}
nav#navbar div.navbar-toggler {
  text-align: right;
  border: none;
  float: right;
  margin-top: 20px;
}
nav#navbar div#mobileMenu div.navbar-toggler {
  margin-top: 30px;
  margin-right: 35px;
}
nav#navbar div.baricon {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 1.0s;
}
nav#navbar div#mobileMenu div.baricon {
  background-color: #0059b8;
}
nav#navbar div#mobileMenu.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
nav#navbar div#mobileMenu.active .bar2 {
  opacity: 0;
}
nav#navbar div#mobileMenu.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
#mobileMenu {
  background: #221f1f;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.95;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
#mobileMenu div.menuClose {
  text-align: right;
  padding-right: 20px;
}
#mobileMenu span.menuClose {
  font-size: 3rem;
  z-index: 999;
  width: 100%;
  color: #0059b8;
}
@media only screen and (max-width: 768px) {
  header {
    width: auto;
  }
  nav#navbar .navbar-brand div {
    display: none;
  }
  nav#navbar ul.navbar-nav {
    margin-top: 200px;
    text-align: center;
  }
  nav#navbar div#mainMenu {
    display: none;
  }
  nav#navbar a.nav-link {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  nav#navbar {
    display: block;
  }
}


/* Navbar settings */
div#navbarSettings {
  background: whitesmoke;
  position: fixed;
  z-index: 666;
  width: 100%;
  margin: 0px -20px;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
}
div#navbarSettings span.nav-item a,
div#navbarSettings a.nav-link {
  color: black;

}



/*
  General items
*/
input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
input:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
a.btn,
button.btn {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
}



/*
  Universal
*/
/* Image container loads all available files for quick injection into writing */
#imagecontainer {
  margin-top: 10px;
}
#imagecontainer img.thumbnail {
  cursor: pointer;
}



/*
  Login page
*/
div#login {
  text-align: center;
}
#login form {
  margin-right: auto;
  margin-left: auto;
  width: 310px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
#recaptcha {
  margin-bottom: 5px;
  margin-top: 20px;
}



/*
    All blog posts
*/
div#allblogPosts .list-group {
  margin: 40px 0px;
}
div#allblogPosts .list-group-item {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #938c8c;
}
div#allblogPosts h5.blogName {
  font-weight: 600;
}


/*
    Standard blogpage
*/
.blogpage {
  background: white;
  color: black;
  padding: 20px;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 15px;
}
.blogpage h1,
.blogpage h2,
.blogpage h3,
.blogpage h4,
.blogpage h5 {
  margin-top: 2rem;
}
.blogpage img.fullwidth {
  width: 100%;
  height: auto;
}



/*
    Standard page
*/
.standardpage {
  background: white;
  color: black;
  padding: 20px;
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}



/*
	Animate
*/
.reveal {
opacity:0;transform:translate3d(0,100px,0);transition:opacity 2s cubic-bezier(.215,.61,.355,1),transform 2s cubic-bezier(.215,.61,.355,1)
}
.reveal-show {
  opacity:1;transform:translateZ(0)
}



/*
	Pages
*/
/*
	Frontpage
_________________*/
#frontpageContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#frontpageContainer .title {
  align-items: center;
  min-height: calc(100vh - 324px);
  margin-top: 100px;
  margin-bottom: 100px;
}
#frontpageContainer .title h1 {
  font-size: 3.6rem;
  font-weight: 300;
}
#frontpageContainer h2.seemore a{
  text-align: center;
  border: 1px solid white;
  padding: 0.5rem 1.7rem;
  background: #8181819c;
  margin-left: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 1.5rem;
}
#frontpageContainer .title h2,
#frontpageContainer .text2 h2,
#frontpageContainer .text5 h2 {
  font-size: 3.0rem;
  font-weight: 300;
}
#frontpageContainer .text2 h2,
#frontpageContainer .text5 h2 {
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #005bbc;
}
#frontpageContainer .text5 h2 {
  text-align: center;
  margin-bottom: 3.5rem;
}
#frontpageContainer .text5 {
  margin-top: 75px;
}
#frontpageContainer .text3 {
  margin-top: 150px;
  margin-bottom: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid #d9d9d9e8;
  border-radius: 15px;
}
#frontpageContainer .text3 .text3element {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#frontpageContainer .text3 .text3element h4 {
  font-weight: 400;
  font-size: 1.9rem;
}
#frontpageContainer .text3 .text3element p {
  line-height: 2rem;
  font-size: 20px;
  font-weight: 300;
}
#frontpageContainer .text4 h2,
#frontpageContainer .text6 h2 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #005bbc;
}
#frontpageContainer .text6 {
  margin-top: 150px;
}
#frontpageContainer .text4container,
#frontpageContainer .text6container {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid #d9d9d9e8;
  border-radius: 15px;
}
#frontpageContainer .spacer {
  height: 150px;
}
@media only screen and (max-width: 768px) {
  #frontpageContainer .title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #frontpageContainer .title h2 {
    font-size: 2rem;
    margin-top: 35px;
  }
  #frontpageContainer .text2 h2 {
    font-size: 2rem;
  }
}

/*
	About
___________________*/
#aboutContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#aboutContainer .title {
  align-items: center;
  min-height: 250px;
  margin-top: 100px;
}
#aboutContainer .title h1 {
  font-size: 3.6rem;
  font-weight: 300;
}
#aboutContainer .title h2 {
  font-size: 3rem;
  font-weight: 300;
}
#aboutContainer .text1 h2 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #005bbc;
}
#aboutContainer .text1container {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid #d9d9d9e8;
  border-radius: 15px;
}
@media only screen and (max-width: 768px) {
  #aboutContainer .title {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 75vh;
  }
  #aboutContainer .title h1 {
    font-size: 3rem;
  }
  #aboutContainer .title h2 {
    font-size: 2rem;
    margin-top: 25px;
  }
}
