/*style_nimwc.css*/
/*
  Theme: NimWC
  Do not change the lines above
  This is the default stylesheet  
*/

/*
  Main elements
*/
#background {
  background-attachment: fixed;
  background-attachment: fixed;
  background-image: url("/images/bgbuilding.jpeg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  filter:alpha(opacity=05);
  opacity: 0.05;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

body {
  min-height: 100vh;
}

#pagewrapper {
  /*background: white;*/
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  min-height: 100vh;
}
@media only screen and (max-width: 1200px) {
  #pagewrapper {
    width: 100%
  }
}

footer {
  border-top: 1px solid #dee2e6;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
footer .footerLeft u,
footer .footerMiddle,
footer .footerRight u {
  color: black;
}
@media only screen and (max-width: 768px) {
  footer {
    width: auto;
  }
}

header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
nav#navbar{
  background-color: transparent;
  margin-bottom: 15px;
}
nav#navbar .navbar-brand {
  color: #0059b8;
  font-weight: 400;
  font-size: 28px;
}
nav#navbar a.nav-link {
  color: #0059b8;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 1.5rem;
  margin-right: 25px;
}
nav#navbar div#navbarInside {
  width: 100%;
}
nav#navbar div.navbar-toggler {
  text-align: right;
  border: none;
  float: right;
}
nav#navbar div#mobileMenu div.navbar-toggler {
  margin-top: 10px;
  margin-right: 35px;
}
nav#navbar div.baricon {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 1.0s;
}
nav#navbar div#mobileMenu div.baricon {
  background-color: #0059b8;
}
nav#navbar div#mobileMenu.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
nav#navbar div#mobileMenu.active .bar2 {
  opacity: 0;
}
nav#navbar div#mobileMenu.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
#mobileMenu {
  background: #221f1f;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.95;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
#mobileMenu div.menuClose {
  text-align: right;
  padding-right: 20px;
}
#mobileMenu span.menuClose {
  font-size: 3rem;
  z-index: 999;
  width: 100%;
  color: #0059b8;
}
@media only screen and (max-width: 768px) {
  header {
    width: auto;
  }
  nav#navbar .navbar-brand {
    display: none;
  }
  nav#navbar ul.navbar-nav {
    margin-top: 200px;
    text-align: center;
  }
  nav#navbar div#mainMenu {
    display: none;
  }
  nav#navbar a.nav-link {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  nav#navbar {
    display: block;
  }
}


/* Navbar settings */
div#navbarSettings a {
  color: black
}



/*
  General items
*/
input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
input:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
a.btn,
button.btn {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
}


/*
  Saved notification
*/
#notifySaved {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  background: #27cb4ede;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}


/*
  Universal
*/
/* Image container loads all available files for quick injection into writing */
#imagecontainer {
  margin-top: 10px;
}
#imagecontainer img.thumbnail {
  cursor: pointer;
}



/*
  Login page
*/
div#login {
  text-align: center;
}
#login form {
  margin-right: auto;
  margin-left: auto;
  width: 310px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
#recaptcha {
  margin-bottom: 5px;
  margin-top: 20px;
}


/*
  Plugins
*/
ul.pluginSettings {
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
li.pluginSettings {
  border: 1px solid rgba(128, 128, 128, 0.55);
  list-style-type: none;
  padding: 10px 15px;
  width: 350px;
}
li.pluginSettings.disabled {
  background: rgba(128, 128, 128, 0.36);
}
li.pluginSettings>div {
  display: inline-block;
}
li.pluginSettings .name {
  display: inline;
  width: 240px;
}
li.pluginSettings .name i {
  font-size: 90%;
}
li.pluginSettings .enablePlugin,
li.pluginSettings .disablePlugin {
  border-radius: 10px;
  cursor: pointer;
  float: right;
  padding: 0px 15px;
}
li.pluginSettings .enablePlugin {
  background: rgba(0, 128, 0, 0.5);
}
li.pluginSettings.enabled .enablePlugin {
  display: none;
}
li.pluginSettings .disablePlugin {
  background: rgba(194, 54, 54, 0.5);
}
li.pluginSettings.disabled .disablePlugin {
  display: none;
}



/*
  Plugins repo
*/
ul.pluginRepo {
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
li.pluginRepo {
  border: 1px solid rgba(128, 128, 128, 0.55);
  list-style-type: none;
  padding: 10px 15px;
  background: #ffffffd9;
  margin-bottom: 10px;
}
li.pluginRepo span.version {
  background: rgb(236, 236, 236);
  border-radius: 5px;
  border: 1px solid grey;
  padding: 0px 2px;
}
li.pluginRepo span.version.git {
  background-color: #ffc107;
}



/*
  Settings overview
*/
div#settings {
  background: #ffffffd6;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  text-align: center;
}
div#settings div {
  margin-bottom: 15px;
  margin-top: 15px;
}
div#settings .btn {
  width: 120px;
  background: white;
}
div#settings .btn:hover {
  color: #042c57;
}


/*
  Settings page
*/
div#settingsEdit {
  background: #ffffffd6;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding: 10px;
}
div#settingsEdit input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
div#settingsEdit textarea {
  width: 100%;
  min-height: 300px;
  margin-bottom: 35px;
}
div#settingsEdit input:focus,
div#settingsEdit textarea:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
div#settingsEdit pre.templateCode {
  border-radius: 2px;
  border: 1px solid grey;
  padding: 5px;
}
button.settingsRestore,
button.settingsSaveCode,
button.settingsSave {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
  width: 80px;
}
button.settingsRestore {
  margin-left: 10px;
}


/*
  Files
*/
div#fileAddContainer,
div#files {
  background: #ffffffd6;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 10px;
}
div#fileAddContainer {
  margin-bottom: 20px;
}
div#fileAdd button {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
}
form#fileAdd {
  display: none;
  border: 1px solid grey;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
div#files span a {
  color: white;
}



/*
  Users
*/
div#users {
  background: #ffffffd6;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 10px;
}
div#users span a.delete {
  color: white;
}
div#usersAddContainer {
  margin-bottom: 20px;
}
form#usersAdd {
  display: none;
  border: 1px solid grey;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
div#users label {
  margin-right: 10px;
  width: 50px;
}
div#users select {
  width: 205px;
  margin-left: 3px;
}


/*
  Users profile
*/
div#user {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
div#user label {
  width: 200px;
  margin-bottom: 0px;
  margin-top: .5rem;
}
div#user #editProfilePhoto {
  border-radius: 2px;
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  max-width: 406px;
  padding: 5px 2px;
  text-align: center;
}
@media only screen and (max-width: 768px) {

  div#user label {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  div#user div.save {
    text-align: left;
    margin-bottom: 20px;
  }
  div#user button.save {
    margin-top: 15px;
    margin-right: auto;
  }
}



/*
  New blog post
*/
div#newblogData {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
div#newblogData input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
div#newblogData textarea {
  width: 100%;
}
div#newblogData input:focus,
div#newblogData textarea:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
div#newblogData label {
  width: 200px;
}
div#newblogData select {
  width: 206px;
  display: inline;
}
#summernote {
  margin-bottom: 20px;
}
button.newblogSave,
button.newblogOptions {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
  width: 80px;
}
div.newblogOptions {
  display: none;
}
@media only screen and (max-width: 768px) {
  div#newblogData {
    padding: 0px 0px;
  }
  div#newblogData label {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  div#newblogData button {
    margin-top: 15px;
  }
}



/*
    All blog posts
*/
div#allblogPosts .list-group {
  margin: 40px 0px;
}
div#allblogPosts .list-group-item {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bcbcbc5c;
}



/*
    All pages
*/
div#allpagePosts .list-group {
  margin: 40px 0px;
}
div#allpagePosts .list-group-item {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bcbcbc5c;
}


/*
    Summernote
*/
.note-editable.panel-body {
  overflow-y: scroll;
}



/*
	Animate
*/
.reveal {
opacity:0;transform:translate3d(0,100px,0);transition:opacity 2s cubic-bezier(.215,.61,.355,1),transform 2s cubic-bezier(.215,.61,.355,1)
}
.reveal-show {
  opacity:1;transform:translateZ(0)
}
      


/*
	Pages
*/
/*
	Frontpage
_________________*/
#frontpageContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#frontpageContainer .title {
  align-items: center;
  min-height: calc(100vh - 324px);
  margin-top: 100px;
  margin-bottom: 100px;
}
#frontpageContainer .title h1 {
  font-size: 3.6rem;
  font-weight: 300;
}
#frontpageContainer .title h2,
#frontpageContainer .text2 h2,
#frontpageContainer .text5 h2 {
  font-size: 3.0rem;
  font-weight: 300;
}
#frontpageContainer .text2 h2,
#frontpageContainer .text5 h2 {
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #005bbc;
}
#frontpageContainer .text5 h2 {
  text-align: center;
  margin-bottom: 3.5rem;
}
#frontpageContainer .text5 {
  margin-top: 75px;
}
#frontpageContainer .text3 {
  margin-top: 150px;
  margin-bottom: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid #d9d9d9e8;
  border-radius: 15px;
}
#frontpageContainer .text3 .text3element {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#frontpageContainer .text3 .text3element h4 {
  font-weight: 400;
  font-size: 1.9rem;
}
#frontpageContainer .text3 .text3element p {
  line-height: 2rem;
  font-size: 20px;
  font-weight: 300;
}
#frontpageContainer .text4 h2,
#frontpageContainer .text6 h2 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #005bbc;
}
#frontpageContainer .text6 {
  margin-top: 150px;
}
#frontpageContainer .text4container,
#frontpageContainer .text6container {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid #d9d9d9e8;
  border-radius: 15px;
}
#frontpageContainer .spacer {
  height: 150px;
} 
@media only screen and (max-width: 768px) {
  #frontpageContainer .title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #frontpageContainer .title h2 {
    font-size: 2rem;
    margin-top: 35px;
  }
  #frontpageContainer .text2 h2 {
    font-size: 2rem;
  }
}

/*
	About
___________________*/
#aboutContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#aboutContainer .title {
  align-items: center;
  min-height: 250px;
  margin-top: 100px;
}
#aboutContainer .title h1 {
  font-size: 3.6rem;
  font-weight: 300;
}
#aboutContainer .title h2 {
  font-size: 3rem;
  font-weight: 300;
}
#aboutContainer .text1 h2 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #005bbc;
}
#aboutContainer .text1container {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid #d9d9d9e8;
  border-radius: 15px;
}
@media only screen and (max-width: 768px) {
  #aboutContainer .title {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 75vh;
  }
  #aboutContainer .title h1 {
    font-size: 3rem;
  }
  #aboutContainer .title h2 {
    font-size: 2rem;
    margin-top: 25px;
  }
}