#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#proc genBackupSettings*(c: var TData, db: DbConn, msg = ""): string =
# result = ""

<link rel="stylesheet" href="/css/backup_private.css">
<script src="/js/backup_private.js" defer></script>

# if msg != "":
<div style="color: red; text-align: center;">
  $msg
</div>
# end if

<div id="backup">
  <div>
    <h1>Backup settings</h1>
  </div>
  
  <div id="backupFront" style="width: 300px; margin-right: auto;">
  
    <div>----------------------------------------------------------------</div>
    <div> Package:      $pluginTitle plugin</div>
    <div> Author:       $pluginAuthor</div>
    <div> Version:      $pluginVersion</div>
    <div> Version date: $pluginVersionDate</div>
    <div>----------------------------------------------------------------</div>
  
  </div>
  
  <hr>

  <div class="backup buttons">
    <a href="#!" class="btn btn-primary backupTime">Change backup time</a>
    <a href="/backup/backupnow" class="btn btn-primary backupNow">Make a backup now</a>
  </div>

  # let backuptime = getValue(db, sql"SELECT backuptime FROM backup WHERE id = ?", 1)
  <form method="get" action="/backup/newbackuptime" class="backup">
    <label>Backup time (0 or empty = disabled)</label>
    <div>
      <input name="backuptime" class="backuptime" value="$backuptime" required type="number" pattern="[0-9]" /> hours
    </div>
    <button type="submit" class="btn btn-success">Save new time</button>
  </form>

  <ul class="backup">

#   for backup in walkDir("data/"):
#     let (pd, ppath) = backup
#     discard pd
#     let backupName = replace(ppath, "data/", "")
#
#     if backupName == "website.db":
#       continue
#     end if
#     
      <li class="backup">
        <a href="/backup/download?backupname=$backupName" class="download" download="$backupName">Download</a>
        <a href="#!" class="btn btn-danger load">Load</a>
        <a href="/backup/loadbackup?backupname=$backupName" class="btn btn-danger loadSure">This will override your current database</a>
        <span>$backupName</span>
      </li>
        
#   end for
  </ul>
</div>

#end proc