#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#proc genUsersRegisterSettings*(c: var TData): string =
# result = ""

<link rel="stylesheet" href="/css/openregistration_private.css">

<div style="text-align: center;">
  <h1>Open registration settings</h1>
</div>

<div id="allMailevents" style="width: 300px; margin-left: auto; margin-right: auto;">

  <div>----------------------------------------------------------------</div>
  <div> Package:      $pluginTitle plugin</div>
  <div> Author:       $pluginAuthor</div>
  <div> Version:      $pluginVersion</div>
  <div> Version date: $pluginVersionDate</div>
  <div>----------------------------------------------------------------</div>

  <br>

  <div>
    When activated users can <a href="/register">register at /register</a>
  </div>
</div>

#end proc
#
#
#
#
#
#proc genUsersRegister*(db: DbConn, errorMsg = ""): string =
# result = ""
#
#   let standardElements = getRow(db, sql"SELECT head, navbar, footer FROM settings WHERE id = ?", "1")

<head>
  ${standardElements[0]}
  
  <link rel="stylesheet" href="/css/openregistration_private.css">
</head>

<div style="text-align: center;">
  <h1>Register an account</h1>
</div>

<div id="register">
  <div id="registerAddContainer">
    <form id="registerAdd" method="post" action="/register">
      
      # if errorMsg != "": 
      <div style="color:#fc6969;text-align: center;font-size: 1.2rem; line-height: 1.8rem;"><b>$errorMsg</b></div>
      # end if

      <div>
        <label>Name</label>
        <input type="text" class="form-control" name="name" required value="" />
      </div>
      <br>
      <div>
        <label>Email</label>
        <input type="email" class="form-control" name="email" required value="" />
      </div>
      #if useCaptcha:
      <div id="recaptcha">
        <div class="g-recaptcha" data-sitekey="${recaptchaSiteKey}" data-theme="light" style="transform:scale(0.93);-webkit-transform:scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      </div>
      #end if
      <button type="submit" class="btn btn-secondary registerDoAdd">Register</button>
    </form>
  </div>
</div>

<footer>
  ${standardElements[2]}
</footer>
  
#end proc