#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#proc genBlogAllPages(c: var TData, edit = false, category = "", tags = ""): string =
# ## Show all blog post
# result = ""
#
# var status = "(2)"
# if c.loggedIn:
#   status = "(0,1,2)"
# else:
#   status = "(2)"
# end if
#
# var sortingOrder = "modified DESC"
# let blogSorting = getRow(db, sql"SELECT blogorder, blogsort FROM settings")
# if blogSorting[0].len() != 0 and blogSorting[1].len() != 0:
#   sortingOrder = blogSorting[0] & " " & blogSorting[1]
# end if
#
#
# var allBlogPages: seq[Row]
#
# if category.len() != 0:
#   allBlogPages = getAllRows(db, sql("SELECT id, url, name, description, status, creation, metadescription FROM blog WHERE status IN " & status & " AND category = ? ORDER BY " & sortingOrder), category)
# elif tags.len() != 0:
#   allBlogPages = getAllRows(db, sql("SELECT id, url, name, description, status, creation, metadescription FROM blog WHERE status IN " & status & " AND tags LIKE ? ORDER BY " & sortingOrder), "%" & tags & "%")
# else:
#   allBlogPages = getAllRows(db, sql("SELECT id, url, name, description, status, creation, metadescription FROM blog WHERE status IN " & status & " ORDER BY " & sortingOrder))
# end if

<div style="text-align: center;">
  <h1>All blog posts</h1>
  # if c.loggedIn:
    <h4>You are logged in, so all post are visible</h4>
  # end if
</div>

<div id="allblogPosts">

# if allBlogPages.len < 1:
#
  <div style="text-align: center">
    <h3><i>No blog posts</i></h3>
  </div>
#
# else:
#
#   if category.len() != 0:
      <div style="text-align: center"><h3><i>Category: ${category}</i></h3></div>
#   elif tags.len() != 0:
      <div style="text-align: center"><h3><i>Tags: ${tags}</i></h3></div>
#   end if
#
  <ul class="list-group">
#   for blog in allBlogPages:
#     var blogTitle = ""
#     if edit:
#       blogTitle = "<h5><span class='editChip'><a href='/editpage/blog/" & blog[0] & "'>edit</a></span> - <a class='blognameEdit' href='/blog/" & blog[1] & "'>" & blog[2] & "</a></h5>"
#     else:
#       blogTitle = "<h5 class='blogName'>" & blog[2] & "</h5>"
#     end if
#
#     if edit:
      <li class="list-group-item">
#     else:
      <a href="/blog/${blog[1]}" class="list-group-item">
#     end if
#
        <div>
          <div class="is-pulled-right is-hidden-mobile float-right d-none d-md-block">
            <small>${epochDate(blog[5], "YYYY-MM-DD")}</small>
            # if c.loggedIn:
            <small style="display: block;">${statusIntToText(blog[4])}</small>
            # end if
          </div>

          $blogTitle
          <small class="is-hidden-tablet d-md-none">${epochDate(blog[5], "YYYY-MM-DD")}</small>
          <div style="margin-top: 10px;">${blog[6]}</div>
        </div>
#     if edit:
      </li>
#     else:
      </a>
#     end if
#
#   end for
  </ul>
#
# end if

</div>
#end proc
