#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#proc genNewBlog(c: var TData): string =
# result = ""
<div id="blogData">
  <form method="POST" action="/blogpagenew/save">

        <div style="max-width: 300px;">

          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input id="name" name="name" class="form-control input" type="text" placeholder="Name" minlength="2" maxlength="256" required >
            </div>
          </div>

          <div class="field">
            <label class="label">URL</label>
            <div class="control">
              <input id="url" name="url" class="form-control input" type="text" placeholder="eg. 2018/11/name" minlength="2" maxlength="256" required >
            </div>
          </div>

          <div class="field">
            <label class="label">Status</label>
            <div class="control select">
              <select id="status" name="status" class="form-control form-control-sm" required >
                <option disabled selected >Choose 1 Option</option>
                <option value="0">Development Draft</option>
                <option value="1">Private</option>
                <option value="2">Public</option>
              </select>
            </div>
          </div>

        <div>
          <button type="submit" class="btn btn-success newblogSave button is-success">Save</button>
          <button type="button" class="btn btn-secondary blogOptions button">Options</button>
        </div>
      </div>
      <div class="blogOptions" style="display: block;">

        ${genPageOptions(c, false, true, false, "", "1", "1", "1")}

      </div>

  </form>
</div>

${genPageEditorImport(c, true)}

#end proc
