#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#proc genBlogAllPages(c: var TData, edit = false): string =
# ## Show all blog post
# result = ""
#
# var status = "(2)"
# if c.loggedIn:
#   status = "(0,1,2)"
# else:
#   status = "(2)"
# end if
#
#
# let blogorder = getValue(db, sql"SELECT blogorder FROM settings")
# let blogsort = getValue(db, sql"SELECT blogsort FROM settings")
# 
# var allBlogPages: seq[Row]
# if blogorder == "":
#   allBlogPages = getAllRows(db, sql("SELECT id, url, name, description, status, modified, metadescription FROM blog WHERE status IN " & status & " ORDER BY modified DESC"))
# else:
#   allBlogPages = getAllRows(db, sql("SELECT id, url, name, description, status, modified, metadescription FROM blog WHERE status IN " & status & " ORDER BY " & blogorder & " " & blogsort))
# end if

<div style="text-align: center;">
  <h1>All blog posts</h1>
  # if c.loggedIn:
    <h4>You are logged in, so all post are visible</h4>
  # end if
</div>

<div id="allblogPosts">

# if allBlogPages.len < 1:
#
  <div style="text-align: center">
    <h3><i>No blog posts</i></h3>
  </div>
#
# else:
#
  <ul class="list-group list-group-flush">
#   for blog in allBlogPages:
#     var blogTitle = ""
#     if edit:
#       blogTitle = "<h5><span class='editChip'><a href='/editpage/blog/" & blog[0] & "'>edit</a></span> - <a class='blognameEdit' href='/blog/" & blog[1] & "'>" & blog[2] & "</a></h5>"
#     else:
#       blogTitle = "<h5 class='blogName'>" & blog[2] & "</h5>"
#     end if
#
#     if edit:
      <li class="list-group-item list-group-item-action flex-column align-items-start" style="padding: .75rem 0rem;">
#     else:
      <a href="/blog/${blog[1]}" class="list-group-item list-group-item-action flex-column align-items-start" style="padding: .75rem 0rem;">
#     end if
#
        <div class="d-flex w-100 justify-content-between">
          <div class="mb-1 col-12 col-md-10">
            $blogTitle
            <small class="d-block d-md-none">${epochDate(blog[5], "YYYY-MM-DD")}</small>
            <div style="margin-top: 10px;">${blog[6]}</div>
          </div>
          <div class="col-2 d-none d-md-block">
            <small>${epochDate(blog[5], "YYYY-MM-DD")}</small>
            # if c.loggedIn:
            <small style="display: block;">${statusIntToText(blog[4])}</small>
            # end if
          </div>
        </div>
#     if edit:
      </li>
#     else:
      </a>
#     end if
#
#   end for
  </ul>
#
# end if

</div>
#end proc
#
#
#
#
#
