#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#proc genNewBlog(c: var TData): string =
# result = ""
<div id="blogData">
  <form method="POST" action="/blogpagenew/save">

    <div id="blogHeader">
      <h1>New blog post</h1>
      <div>
        <div style="max-width: 300px;">
          <div class="input-group input-group-sm actAddItem">
            <div class="input-group-prepend">
              <span class="input-group-text actAddItemLabel" style="width: 80px;">
                  Name
              </span>
            </div>
            <input id="name" name="name" class="form-control" required> 
          </div>

          <div class="input-group input-group-sm actAddItem">
            <div class="input-group-prepend">
              <span class="input-group-text actAddItemLabel" style="width: 80px;">
                  URL
              </span>
            </div>
            <input id="url" name="url" class="form-control" required placeholder="eg. 2018/11/name"> 
          </div>

          <div class="input-group input-group-sm actAddItem">
            <div class="input-group-prepend">
              <span class="input-group-text actAddItemLabel" style="width: 80px;">
                  Status
              </span>
            </div>
            <select id="status" name="status" class="form-control form-control-sm">
              <option value="0">Development</option>
              <option value="1">Private</option>
              <option value="2">Public</option>
            </select>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-success newblogSave">Save</button>
          <button type="button" class="btn btn-secondary blogOptions">Options</button>
        </div>
      </div>
      <div class="blogOptions">
        
        ${genPageOptions(c, false, true, false, "", "1", "1", "1")}

    </div>

  </form>
</div>

${genPageEditorImport(c, true)}

#end proc