#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#
#  
#proc genFiles(c: var TData): string =
# result = ""
#
# let allFilesPrivate       = filesListPrivate()
# let allFilesPublic        = filesListPublic()
# let allFilesPublicImages  = filesListPublicFolderImages()

<div style="text-align: center;">
  <h1>Files</h1>
</div>

<div id="fileAddContainer">
  <button class="btn btn-secondary fileAdd">Upload new file</button>
  <form id="fileAdd" method="post" action="/files/upload">
    <div class="form-group">
      <div style="margin-bottom: 10px;">

        <div class="custom-control custom-radio">
          <input data-value="publicimage" type="radio" id="fileRadio1" name="fileRadio" class="custom-control-input" checked>
          <label class="custom-control-label" for="fileRadio1">Public image</label>
        </div>
        <div class="custom-control custom-radio">
          <input data-value="private" type="radio" id="fileRadio2" name="fileRadio" class="custom-control-input">
          <label class="custom-control-label" for="fileRadio2">Private file</label>
        </div>
        <div class="custom-control custom-radio">
          <input data-value="public" type="radio" id="fileRadio3" name="fileRadio" class="custom-control-input">
          <label class="custom-control-label" for="fileRadio3">Public file</label>
        </div>

      </div>
      <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <button type="button" class="btn btn-success fileUpload">Upload</button>
  </form>
</div>

<div id="files">
  
<h4>Public images (public/images)</h4>
<ul class="list-group">
# for file in allFilesPublicImages:
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="/images/${extractFilename(file)}" target="_blank">${extractFilename(file)}</a>
      <span class="badge badge-danger badge-pill"><a href="/files/delete/publicimage/${extractFilename(file)}">Delete</a></span>
    </li>
# end for
</ul>  

<hr>

<h4>Private files (only for logged in users)</h4>
<ul class="list-group">
# for file in allFilesPrivate:
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="/files/stream/private/${extractFilename(file)}" target="_blank">${extractFilename(file)}</a>
      <span class="badge badge-danger badge-pill"><a href="/files/delete/private/${extractFilename(file)}">Delete</a></span>
    </li>
# end for
</ul>  

<hr>

<h4>Public files (available to all)</h4>
<ul class="list-group">
# for file in allFilesPublic:
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="/files/stream/public/${extractFilename(file)}" target="_blank">${extractFilename(file)}</a>
      <span class="badge badge-danger badge-pill"><a href="/files/delete/public/${extractFilename(file)}">Delete</a></span>
    </li>
# end for
</ul>  

</div>
  
#end proc
#
#
#
#
#
#
#proc genFilesRaw(c: var TData): string =
# result = ""
#
# let allFilesPrivate = filesListPrivate()
# let allFilesPublic = filesListPublic()

<div class="container-fluid">
<div class="row">
# for file in allFilesPrivate:
#   if file == "":
#     continue
#   end if

  <div class="col-6 col-md-2 img-item">
    <img class="col-md-12 thumbnail" data-url="/files/stream/private/${extractFilename(file)}" data-filename="${extractFilename(file)}" src="/files/stream/private/${extractFilename(file)}" alt="">
    <i class="fa fa-check"></i>
  </div>
# end for

# for file in allFilesPublic:
#   if file == "":
#     continue
#   end if

  <div class="col-6 col-md-2 img-item">
    <img class="col-md-12 thumbnail" data-url="/files/stream/public/${extractFilename(file)}" data-filename="${extractFilename(file)}" src="/files/stream/public/${extractFilename(file)}" alt="">
    <i class="fa fa-check"></i>
  </div>
# end for
</div>
</div>

  
#end proc