#? stdtmpl | standard
#
#proc genViewLogs(logcontent: string): string =
#  result = ""
<center>
  <h1>Logs</h1>
  <textarea name="logs" id="logs" title="Log Size: $logcontent.splitLines.len Lines." dir="auto" readonly autofocus spellcheck style="width:99%;height:90%">
    $logcontent
  </textarea>
  <br>
  <a class="btn btn-outline-primary button is-small" title="Copy Logs" onclick="document.querySelector('#logs').select();document.execCommand('copy')">
    <button>Copy</button>
  </a>
</center>

<style>
  /* Most Linux have at leat 1 of those fonts */
  html { font-family: Fira Code, Ubuntu, Oxygen, Droid }
  textarea { font-family: "Ubuntu Mono", "Oxygen Mono", Monospace }
</style>
