#? stdtmpl | standard
#
#proc genViewLogs(logcontent: string): string =
#  result = ""
<h1 class="has-text-centered">Logs</h1>
<textarea name="logs" id="logs" title="Log Size: $logcontent.splitLines.len Lines." dir="auto" readonly autofocus spellcheck style="width:99% !important;height:90% !important">
  $logcontent
</textarea>
<br>
<a title="Copy Logs" onclick="document.querySelector('#logs').select();document.execCommand('copy')">
  <button class="btn btn-outline-primary button is-small">Copy</button>
</a>
