#? stdtmpl | standard
#
#import times
#proc genMainAdmin(c: var TData, data: string, pageAction = ""): string =
# result = ""
#
# let standardElements = getRow(db, sql"SELECT head, navbar, footer, title FROM settings WHERE id = ?", "1")
# let loggedIn = if c.loggedIn == true: "true" else: "false"
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <meta charset="utf-8">
  <meta name="generator" content="Nim Website Creator">
  <meta name="viewport" content="width=device-width, initial-scale=1">
# when defined(demo):
  <title>Nim Website Creator</title>
  <meta name="description" content="Nim Website Creator">
  <meta name="keywords" content="Nim,Nim Website Creator,nimwc">
  <link rel="shortcut icon" href="/images/logo/favicon.ico">
  <link rel="icon" type="image/png" href="/images/logo/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/images/logo/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/logo/favicon-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/favicon-180x180.png">
  <style>
    div#background {
      background-attachment: fixed;
      background-attachment: fixed;
      background-image: url("/images/bgbuilding.jpeg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;
      filter:alpha(opacity=05);
      opacity: 0.05; /* uses JS to transform to 0.5 */
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  </style>
# end when
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style_admin.css">
  <script src="/js/js_admin.js" defer></script>
</head>

<body class="body">
  <div id="pagewrapper" class="container is-fluid">
    <div id="background"></div>
      ${genNavbarLoggedinSettings(c)}

    <header>
      <nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
# when defined(demo):
          <a class="navbar-item" href="https://github.com/ThomasTJdev/nim_websitecreator">
            <img src="/images/logo/NimWC_logo_blue.png" title="Nim Website Creator" width="90" height="30" />
          </a>
# else:
          <a class="navbar-item" href="/">
            <h1>👑</h1>
          </a>
# end when
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <hr class="navbar-divider">
            <a class="nav-link navbar-item is-hoverable" href="/">Home</a>
            <hr class="navbar-divider">
            <a class="nav-link navbar-item is-hoverable" href="/blog">Blog</a>
            <hr class="navbar-divider">
            <a class="nav-link navbar-item is-hoverable" href="/p/about">About</a>
            <hr class="navbar-divider">
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
# if c.loggedIn:
                <a class="button is-light" href="/logout" title="Logout">Logout</a>
# else:
                <a class="button is-light" href="/login" title="Login">Login</a>
# end if
              </div>
            </div>
          </div>
      </nav>
    </header>

    <main>
      <section class="section">
        <div id="page" class="$loggedIn">
          $data
        </div>
      </section>
    </main>

    <footer class="footer">
      <div id="footerInside" class="content has-text-centered">
#  when defined(demo):
        <h5>Copyright</h5>
        <p>
          <p>&#169; ${now().year} - <a href="https://ttj.dk"><u>Thomas T. Jarløv</u></a></p>
        </p>
        <h5>Nim Website Creator</h5>
        <p>License: GPLv3 - <a href="https://github.com/ThomasTJdev/nim_websitecreator"><b>Github</b></a></p>
        <p>Website creation automated with Nim.</p>
#  else:
        <p title="Built ${$now()}"> &#169; ${now().year} 👑 </p>
#  end when
      </div>
    </footer>

    #     if pageAction == "edithtml":
            ${genEditHtml()}
    #     elif pageAction == "editjs":
            ${genEditJs()}
    #     elif pageAction == "editcss":
            ${genEditCss()}
    #     elif pageAction == "users":
            ${genProfileJsCss()}
    #     end if

  </div>
</body>
</html>
#
#end proc
#
#
#
#
#
#
#
#proc genMain(c: var TData, data: string, pageAction = ""): string =
# result = ""
#
# let standardElements = getRow(db, sql"SELECT head, navbar, footer, title FROM settings WHERE id = ?", "1")
# let loggedIn = if c.loggedIn == true: "true" else: "false"
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
# if standardElements[3] != "":
  <title>${standardElements[3]}</title>
# end if

# if standardElements[0] != "":
  ${standardElements[0]}
# end if

${extensionCss()}
</head>

<body class="body">
  <div id="pagewrapper">
    <div id="background"></div>
#   if c.loggedIn and c.rank != User:
      ${genNavbarLoggedinSettings(c)}
#   elif c.loggedIn:
      ${genNavbarLoggedin(c)}
#   end if

    <header>
      ${standardElements[1]}
    </header>

    <main>
      <div id="page" class="$loggedIn">
        $data
      </div>
    </main>

    <footer>
#     if standardElements[2] != "":
        ${standardElements[2]}
#     end if

#     if pageAction == "edithtml":
        ${genEditHtml()}
#     elif pageAction == "editjs":
        ${genEditJs()}
#     elif pageAction == "editcss":
        ${genEditCss()}
#     elif pageAction == "users":
        ${genProfileJsCss()}
#     end if

      ${extensionJs()}
    </footer>

  </div>
</body>
</html>
#
#end proc
#
#
#
#
#
#proc genPage(c: var TData, pageid: string): string =
# result = ""
#
# let standardElements = getRow(db, sql"SELECT head, navbar, footer, title FROM settings WHERE id = ?", "1")
#
#
#
# var status = "2"
# if c.loggedIn:
#   status = "0,1,2"
# end if
#
# let pageData = getRow(db, sql("SELECT standardhead, head, standardnavbar, navbar, description, standardfooter, footer, title, metadescription, metakeywords  FROM pages WHERE id = ? AND status IN (" & status & ")"), pageid)
# let loggedIn = if c.loggedIn == true: "true" else: "false"
<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
# if pageData[7] != "":
  <title>${pageData[7]}</title>
# elif standardElements[3] != "":
  <title>${standardElements[3]}</title>
# end if

<meta name="description" content="${pageData[8]}">
<meta name="keywords" content="${pageData[9]}">

# if pageData[0] == "1":
    ${standardElements[0]}
# end if

${extensionCss()}
</head>


<body class="body">
  <div id="pagewrapper">
    <div id="background"></div>
#   if c.loggedIn and c.rank != User:
      ${genNavbarLoggedinSettings(c)}
#   elif c.loggedIn:
      ${genNavbarLoggedin(c)}
#   end if

    <header>
#     if pageData[2] == "1":
        ${standardElements[1]}
#     end if
    </header>

    <main>
      <div id="page" class="$loggedIn">
#       if c.loggedIn:
          <h5 style="text-align: center;"><a href="/editpage/page/$pageid">Edit page</a></h5>
#       end if

        ${pageData[4]}
      </div>
    </main>

    <footer>
#     if pageData[5] == "1":
        ${standardElements[2]}
#     end proc

      ${extensionJs()}
    </footer>

  </div>
</body>
</html>

#end proc
#
#
#
#
#proc genPageBlog(c: var TData, blogid: string): string =
# result = ""
#
# let standardElements = getRow(db, sql"SELECT head, navbar, footer, title FROM settings WHERE id = ?", "1")
#
#
# var status = "2"
# if c.loggedIn:
#   status = "0,1,2"
# end if
#
# let pageData = getRow(db, sql("SELECT standardhead, head, standardnavbar, navbar, description, standardfooter, footer, name, status, title, metadescription, metakeywords FROM blog WHERE id = ? AND status IN (" & status & ")"), blogid)
# let loggedIn = if c.loggedIn == true: "true" else: "false"
<!DOCTYPE html>
<html class="has-navbar-fixed-top">


<head>
# if pageData[9] != "":
  <title>${pageData[9]}</title>
# elif standardElements[3] != "":
  <title>${standardElements[3]}</title>
# end if

<meta name="description" content="${pageData[10]}">
<meta name="keywords" content="${pageData[11]}">

# if pageData[0] == "1":
    ${standardElements[0]}
# end if

${extensionCss()}
</head>


<body class="body">
  <div id="pagewrapper">
    <div id="background"></div>
#   if c.loggedIn and c.rank != User:
      ${genNavbarLoggedinSettings(c)}
#   elif c.loggedIn:
      ${genNavbarLoggedin(c)}
#   end if

    <header>
#     if pageData[2] == "1":
        ${standardElements[1]}
#     end if
    </header>

    <main>
      <div id="page" class="$loggedIn">
#       if c.loggedIn:
          <h5 style="text-align: center;"><a href="/editpage/blog/$blogid">Edit blogpage</a></h5>
#       end if

        ${pageData[4]}
      </div>
    </main>

    <footer>
#     if pageData[5] == "1":
        ${standardElements[2]}
#     end proc

      ${extensionJs()}
    </footer>

  </div>
</body>
</html>
#end proc
