#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#proc genAllPagesEdit(c: var TData): string =
# result = ""
# let allPages = getAllRows(db, sql"SELECT id, name, description, status, modified, metadescription FROM pages ORDER BY modified DESC")

<div style="text-align: center;">
  <h1>Edit a page</h1>
</div>

<div id="allpagePosts">

# if allPages.len < 1:
#
  <div style="text-align: center">
    <h3><i>No pages</i></h3>
  </div>
#
# else:
#
  <ul class="list-group">
#   for page in allPages:
    <a href="/editpage/page/${page[0]}" class="list-group-item">
      <div>
        <div class="is-pulled-right is-hidden-mobile">
          <small>${epochDate(page[4], "YYYY-MM-DD")}</small>
          <small style="display: block;">${statusIntToText(page[3])}</small>
        </div>

        <h5>${page[1]}</h5>
        <small class="is-hidden-tablet">${epochDate(page[4], "YYYY-MM-DD")}</small>
        <div style="margin-top: 10px;">${page[5]}</div>
      </div>
    </a>
#   end for
  </ul>
# end if
</div>
<a class="button is-outlined is-small" title="Go back to Settings" href="/settings" style="text-align:center">&xlArr; Go to Settings</a>
#end proc