#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#proc genNewPage(c: var TData): string =
# result = ""
<div id="pageData">
  <form method="post" action="/pagenew/save">

    <div id="pageHeader">
      <h1>New page</h1>
      <div style="max-width: 300px;">
        <div class="input-group input-group-sm actAddItem">
          <div class="input-group-prepend">
            <span class="input-group-text actAddItemLabel" style="width: 80px;">
                Name
            </span>
          </div>
          <input id="name" name="name" class="form-control" required> 
        </div>

        <div class="input-group input-group-sm actAddItem">
          <div class="input-group-prepend">
            <span class="input-group-text actAddItemLabel" style="width: 80px;">
                URL
            </span>
          </div>
          <input id="url" name="url" class="form-control" required placeholder="eg. portfolio"> 
        </div>

        <div class="input-group input-group-sm actAddItem">
          <div class="input-group-prepend">
            <span class="input-group-text actAddItemLabel" style="width: 80px;">
                Status
            </span>
          </div>
          <select id="status" name="status" class="form-control form-control-sm">
            <option value="0">Development</option>
            <option value="1">Private</option>
            <option value="2">Public</option>
          </select>
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-success newpageSave">Save</button>
        <button type="button" class="btn btn-secondary pageOptions">Options</button>
      </div>
      <div class="pageOptions">
        <hr>
        <h5>Change editor</h5>
        <div style="margin-bottom: 20px;">
          # if c.req.cookies.hasKey("rawhtml") and c.req.cookies["rawhtml"] == "true":
          <button type="button" class="btn btn-primary switchEditorGrapesJS">Switch to GrapesJS</button>
          # else:
          <button type="button" class="btn btn-primary switchEditorRawHTML">Switch to raw HTML</button>
          # end if
        </div>
        
        <h5>HTML</h5>
        <div style="max-width: 250px;">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input id="standardhead" name="standardhead" type="checkbox" checked> 
              </div>
            </div>
            <div class="form-control">
              Use standard head &lt;head&gt;
            </div>
          </div>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input id="standardnavbar" name="standardnavbar" type="checkbox" checked> 
              </div>
            </div>
            <div class="form-control">
                Use standard navbar &lt;navbar&gt;
            </div>
          </div>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input id="standardfooter" name="standardfooter" type="checkbox" checked> 
              </div>
            </div>
            <div class="form-control">
                Use standard footer &lt;footer&gt;
            </div>
          </div>
        </div>
        
      </div>
      
      <hr>

    </div>

    <hr>
    <div>
      # if c.req.cookies.hasKey("rawhtml") and c.req.cookies["rawhtml"] == "true":
        <textarea name="editordata" id="editordataCodemirror"></textarea>
      # else:
      <div id="gjs" class="gls">
          <div id="mainContainer" class="">
            <h1>Title
            </h1>
            <p>The first paragraph
            </p>
            <hr/>
            <div class="row">
              <div class="col-12 col-md-6">
                <p>Column 1
                </p>
              </div>
              <div class="col-12 col-md-6">
                <p>Column 2
                </p>
              </div>
            </div>
          </div>
          <style>
            body.gjs-dashed {
              background-color: transparent;
            }
            .container-fluid.bg-white.border.border-secondary.rounded{
              min-height:200px;
              padding:15px 15px 15px 15px;
              padding-top:15px;
              padding-right:15px;
              padding-bottom:15px;
              padding-left:15px;
              border:1px solid #b0b3b5;
            }
          </style>
        </div>

        <textarea id="gjshidden" name="editordata" style="display: none"></textarea>
      # end if
    </div>
  </form>      
</div>

# if c.req.cookies.hasKey("rawhtml") and c.req.cookies["rawhtml"] == "true":
  ${genEditMixed(true)}
# else:
<script src="https://unpkg.com/grapesjs" defer></script>
<script src="/js/grapesjsbs4.min.js" defer></script>
<script src="/js/grapesjs_custom.js" defer></script>
<script src="/js/editors.js" defer></script>
<link rel="stylesheet" href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" />
<script>
function grapeJsLoadAssets() {
  const am = editor.AssetManager;
  am.add([

# var multiple = false
# for file in walkFiles("public/images/*"):
#   if multiple:
      ,{src: '${replace(file, "public", "")}'}
#   else:
      {src: '${replace(file, "public", "")}'}
#     multiple = true
#   end if
# end for  

  ]);
  am.render();
}
</script>
# end if
#end proc