#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#
#  
#proc genEditPage(c: var TData, pageid: string): string =
# result = ""
#
# let pageData = getAllRows(db, sql"SELECT standardhead, head, standardnavbar, navbar, description, standardfooter, footer, name, url, status FROM pages WHERE id = ?", pageid)

# if pageData.len() > 0:
#   for page in pageData:
<div id="pageData">
  <form class="standard page" method="post" action="/page/update">
    <input name="pageid" value="$pageid" style="display: none" />
    
    <div id="pageHeader">
      <h1>Edit page</h1>
      <div>
        <div style="max-width: 300px;">
          <div class="input-group input-group-sm actAddItem">
            <div class="input-group-prepend">
              <span class="input-group-text actAddItemLabel" style="width: 80px;">
                  Name
              </span>
            </div>
            <input id="name" name="name" class="form-control" required value="${page[7]}"> 
          </div>
          <div class="input-group input-group-sm actAddItem">
            <div class="input-group-prepend">
              <span class="input-group-text actAddItemLabel" style="width: 80px;">
                  URL
              </span>
            </div>
            <input id="url" name="url" class="form-control" required placeholder="eg. 2018/11/name" value="${decodeUrl(page[8])}"> 
          </div>
          <div class="input-group input-group-sm actAddItem">
            <div class="input-group-prepend">
              <span class="input-group-text actAddItemLabel" style="width: 80px;">
                  Status
              </span>
            </div>
            <select id="status" name="status" class="form-control form-control-sm">
              <option value="0" ${statusIntToCheckbox(page[9], "0")}>Development</option>
              <option value="1" ${statusIntToCheckbox(page[9], "1")}>Private</option>
              <option value="2" ${statusIntToCheckbox(page[9], "2")}>Public</option>
            </select>
          </div>
          <div>
            <button type="button" class="btn btn-success pageSave">Save</button>
            <button type="button" class="btn btn-secondary pageOptions">Options</button>
            <a href="/p/${page[8]}" class="btn btn-secondary">View page</a>
          </div>
        </div>
        <div class="pageOptions">
          
          ${genPageOptions(c, true, false, true, $pageid, page[0], page[2], page[5])}
            
        </div>
      </div>
    </div>

    <hr>

    <div>
      ${genPageEditorMainEdit(c, page[4])}
    </div>
  </form>   
  
</div>

<div id="notifySaved">
  Saved page
</div>
#   end for
# else:
  <h5 style="color: red;">Something went wrong</h5>
# end if

${genPageEditorImport(c, false)}

#end proc