#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#proc genPlugins(c: var TData): string =
# result = ""

<h1 style="text-align: center">Plugins</h1>

<ul class="pluginSettings">
  ${genExtensionSettings()}
</ul>

#end proc
#
#
#
#proc genPluginsRepo(c: var TData): string =
# result = ""

<h1 style="text-align: center">Plugins repository</h1>

# if not pluginCheckGit():

  <div class="notification is-danger">
    <h3>Git (git) is not installed. Please install it.
      E.g. pacman -S git, apt install git, etc.
    </h3>
  </div>

# elif false: ## not fileExists("plugins/nimwc_plugins/plugins.json"):

  <div style="text-align: center;">
    <div class="notification is-info">
      <h3>Please download the repository with the plugins.</h3>
    </div>
    <a href="/plugins/repo/download" class="button is-primary is-large is-fullwidth is-rounded" >Download</a>
  </div>

# else:

# let plugins = parseJson(readFile("plugins/nimwc_plugins/plugins.json"))

<div class="buttons">
  <a href="/plugins/repo/update" class="btn btn-outline-primary button">Update plugins list</a>
  <a href="/plugins" class="btn btn-outline-primary button">Go to installed plugins</a>
  <a href="https://github.com/ThomasTJdev/nimwc_plugins#contribute" class="btn btn-outline-primary button" title="Learn how to create new plugins" target="_blank">Add your plugin to this list</a>
</div>

  <ul class="pluginRepo">
#   var counter: int8
#   for plugin in items(plugins):
#     counter += 1
#     let installed = if dirExists("plugins/" & plugin["foldername"].getStr()): true else: false
      <li>
      <article class="message pluginRepo ${if counter mod 2 == 0: "is-dark" else: "is-link"}" id="${plugin["foldername"].getStr.capitalizeAscii}">
        <div class="message-header">
          <h5><a href="${plugin["web"].getStr()}" title="${plugin["web"].getStr()}" target="_blank"><b>
            ${plugin["name"].getStr()}
          </b></a></h5>
        </div>
        <div class="message-body">
          ${plugin["description"].getStr()}
        </div>
#         if installed:
#           let installedPlugin = parseJson(readFile("plugins/" & plugin["foldername"].getStr() & "/plugin.json"))
            <span class="version"><b>Installed version: ${plugin["version"].getStr()}</b></span>
            <span class="version git"><b>Git version: ${plugin["version"].getStr()}</b></span>
#         else:
            <span class="version">
              <b> Version: </b> <code>${plugin["version"].getStr()}</code>
            </span>
#         end if
          <br>
#         if installed:
            <a href="/plugins/repo/updateplugin?pluginfolder=${plugin["foldername"].getStr()}&pluginname=${plugin["name"].getStr()}" class="btn btn-warning button is-success">Update plugin</a>
            <a href="/plugins/repo/deleteplugin?pluginfolder=${plugin["foldername"].getStr()}&pluginname=${plugin["name"].getStr()}" class="btn btn-danger button is-danger">Delete plugin</a>
#         else:
            <a href="/plugins/repo/downloadplugin?pluginfolder=${plugin["foldername"].getStr()}&pluginrepo=${plugin["url"].getStr()}&pluginname=${plugin["name"].getStr()}" class="btn btn-success button is-success is-fullwidth">Download plugin</a>
#         end if
      <br>
      </article>
      <br>
    </li>

  # end for

  </ul>
  <p><b>Total Plugins: </b><code>
  $counter
  </code></p>
# end if

#end proc
