#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#proc genSettings(c: var TData): string =
  #result = ""

  <div id="settings">
    <h1>Settings</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <hr>
          <label class="label">Blog</label>
          <div class="buttons columns is-mobile">
            <div class="column"><a href="/blogpagenew" class="btn btn-outline-primary button is-small">Add blogpost</a></div>
            <div class="column"><a href="/editpage/blogallpages" class="btn btn-outline-primary button is-small">Edit blogpost</a></div>
          </div>
          <hr>
          <label class="label">Pages</label>
          <div class="buttons columns is-mobile">
            <div class="column"><a href="/pagenew" class="btn btn-outline-primary button is-small">Add page</a></div>
            <div class="column"><a href="/editpage/allpages" class="btn btn-outline-primary button is-small">Edit pages</a></div>
          </div>
          <hr>
          <label class="label">Plugins</label>
          <div class="buttons columns is-mobile">
            <div class="column"><a href="/plugins" class="btn btn-outline-primary button is-small">Plugins</a></div>
            <div class="column"><a href="/plugins/repo" class="btn btn-outline-primary button is-small">Plugins repo</a></div>
          </div>
          <hr>
          <label class="label">Users</label>
          <div class="buttons columns is-mobile">
            <div class="column"><a href="/users" class="btn btn-outline-primary button is-small">Users</a></div>
            <div class="column"><a href="/users/profile" class="btn btn-outline-primary button is-small">My profile</a></div>
          </div>
          <hr>
          <label class="label">Files</label>
          <div class="buttons columns is-mobile">
            <div class="column"><a href="/files" class="btn btn-outline-primary button is-small">Files</a></div>
            <div class="column"><a href="/settings/logs" class="btn btn-outline-primary button is-small">Logs</a></div>
          </div>
          <hr>
          # when defined(demo):
          #   if c.loggedIn and c.rank != Admin:
                <div class="notification is-danger" style="padding-top: 15px;">
                  <p>The test user does not have access to edit the Settings, JS,
                     CSS and HTML of the core. Some options are hidden.
                  </p>
                </div>
          #   end if
          # end when
          #
          # if c.rank == Admin:

          <label class="label">Blog settings</label>
          <div class="buttons columns is-mobile">
            <div class="column"><a href="/settings/blog" class="btn btn-outline-primary button is-small">Blog settings</a></div>
          </div>
          <hr>
          <label class="label">Settings</label>
          <div class="buttons columns is-mobile">
            <div class="column"><a href="/settings/edit" class="btn btn-outline-primary button is-small">Edit Hear, Navbar, Footer</a></div>
          </div>
          <div class="buttons columns is-mobile">
            <div class="column"><a href="/settings/editjs" class="btn btn-outline-primary button is-small">Edit core JS file</a></div>
            <div class="column"><a href="/settings/editjscustom" class="btn btn-outline-primary button is-small">Edit custom JS file</a></div>
          </div>
          <div class="buttons columns is-mobile">
            <div class="column"><a href="/settings/editcss" class="btn btn-outline-primary button is-small">Edit core CSS file</a></div>
            <div class="column"><a href="/settings/editcsscustom" class="btn btn-outline-primary button is-small">Edit custom CSS file</a></div>
          </div>

          # end if

        </div>
      </div>
    </div>
  </div>

#end proc
#
#
#
#
#
#proc genSettingsEdit(c: var TData): string =
# result = ""
#
# let pageData = getAllRows(db, sql"SELECT analytics, head, navbar, footer, title FROM settings WHERE id = ?", "1")
#
# for page in pageData:

<div id="settingsEdit">
  <h1>HTML elements</h1>
  <p>The HEAD, NAVBAR and FOOTER block will be inserted on all your pages. You can disable them for individual pages/blogposts when you are editing them. To completely disable them - delete their content below.</p>
  <hr>
  <form class="standard settings" method="post" action="/settings/update">
    <div>
      <label class="label">Title</label>
      <input class="input" name="title" id="title" required value="${page[4]}" style="width: 300px;" dir="auto"/>
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-success settingsSave button is-success">Save</button>
        <button type="button" class="btn btn-secondary templateCode button is-info">See template</button>
    </div>
    <hr>
    <div>
      <div>HTML &lt;head&gt;</div>
      <a href="#!" class="templateCode" data-code="head" style="display: none;">See template</a>
      <pre class="templateCode templateCodehead" style="display: none;">${xmlEncode(head)}</pre>
      <textarea name="head" id="htmlSettings1">${page[1]}</textarea>
    </div>
    <br>
    <div>
      <div>HTML &lt;header&gt; + &lt;navbar&gt;</div>
      <a href="#!" class="templateCode" data-code="navbar" style="display: none;">See template</a>
      <pre class="templateCode templateCodenavbar" style="display: none;">${xmlEncode(navbar)}</pre>
      <textarea name="navbar" id="htmlSettings2">${page[2]}</textarea>
    </div>
    <br>
    <div>
      <div>HTML &lt;footer&gt;</div>
      <a href="#!" class="templateCode" data-code="footer" style="display: none;">See template</a>
      <pre class="templateCode templateCodefooter" style="display: none;">${xmlEncode(footer)}</pre>
      <textarea name="footer" id="htmlSettings3">${page[3]}</textarea>
    </div>
    <div style="margin-top: 15px;">
        <button type="submit" class="btn btn-success settingsSave button is-success">Save</button>
    </div>
  </form>

</div>

<div id="notifySaved">
  Saved HTML
</div>
# end for
#end proc
#
#
#
#
#
#proc genSettingsEditJs(c: var TData, customJs: bool): string =
# result = ""
# var jsFile: string
# if customJs:
#   jsFile = "public/js/js_custom.js"
# else:
#   jsFile = "public/js/js.js"
# end if
<style>
  .CodeMirror {
    border: 1px solid #eee;
    height: auto!important;
  }
</style>
<div id="settingsEdit">
  <h1>Edit JS file</h1>
  <h4>${jsFile}</h4>
  <form class="standard settings" method="post" action="/settings/updatejs">
    <input name="customJs" value="${customJs}" style="display: none">
    <div>
      <button type="submit" class="btn btn-success settingsSaveCode button is-success" style="margin-bottom: 5px;">Save</button>
    </div>
    <div>
      <textarea name="js" id="settingsCode" >
# for line in lines(jsFile):
$line
# end for
      </textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-success settingsSaveCode button is-success">Save</button>
    </div>
  </form>
</div>

<div id="notifySaved">
  Saved ${jsFile}
</div>
#end proc
#
#
#
#
#
#proc genSettingsEditCss(c: var TData, customCss: bool): string =
# result = ""
# var cssFile: string
# if customCss:
#   cssFile = "public/css/style_custom.css"
# else:
#   cssFile = "public/css/style.css"
# end if
<style>
  .CodeMirror {
    border: 1px solid #eee;
    height: auto!important;
  }
</style>
<div id="settingsEdit">
  <h1>Edit CSS file</h1>
  <h4>${cssFile}</h4>
  <form class="standard settings" method="post" action="/settings/updatecss">
    <input name="customCss" value="${customCss}" style="display: none">
    <div>
      <button type="submit" class="btn btn-success settingsSaveCode button is-success" style="margin-bottom: 5px;">Save</button>
    </div>
    <div>
      <textarea name="css" id="settingsCode" >
# for line in lines(cssFile):
$line
# end for
      </textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-success settingsSaveCode button is-success">Save</button>
    </div>
  </form>
</div>

<div id="notifySaved">
  Saved ${cssFile}
</div>
#end proc
#
#
#
#
#
#proc genSettingsBlog(c: var TData): string =
# result = ""
<div id="settingsEdit">
  <h1>Edit blog settings</h1>
  <form class="standard settings" method="post" action="/settings/updateblogsettings">
    <div style="max-width: 300px; margin-bottom: 20px;">
      <h2>Blog order</h2>
      <div class="field">
        <label class="label">Blogorder</label>
        <div class="control select">
          <select name="blogorder" class="form-control form-control-sm">
            <option value="url">URL</option>
            <option value="published">Published</option>
            <option value="modified">Modified</option>
            <option value="name">Name</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="label">Blogsort</label>
        <div class="control select">
          <select name="blogsort" class="form-control form-control-sm">
            <option value="DESC">Descending</option>
            <option value="ASC">Ascending</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success button is-success">Save</button>
    </div>
  </form>
</div>
#end proc
