#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#proc genFormLogin(c: var TData, errorMsg = ""): string =
# result = ""
# if not c.loggedIn:
#
#   let standardElements = getRow(db, sql"SELECT head, navbar, footer, title FROM settings WHERE id = ?", "1")

<head>
  ${standardElements[0]}
</head>

  <div id="login">

    <form name="login" action="/dologin" method="POST" class="box">
      <h3 style="line-height: 1.9rem;">Login to<br>${standardElements[3]}</h3>

      # when defined(demo):
        <div class="notification is-link">
          <p> <b>User:</b> test@test.com</p>
          <p> <b>Pass:</b> test</p>
          <p> <b>2FA: </b> 123456</p>
        </div>
      # end when

      # if errorMsg.len() != 0:
      <div class="notification is-danger" style="text-align: center;font-size: 1.2rem; line-height: 1.8rem;"><b>$errorMsg</b></div>
      # end if

      <div class="field form-group">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input type="email" class="form-control input is-rounded" name="email" placeholder="Email" minlength="5" dir="auto" required autofocus
          # when defined(demo):
            value="test@test.com"
          # end when
          >
        </div>
      </div>
      <div class="field form-group">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input type="password" class="form-control input is-rounded" name="password" autocomplete="current-password" placeholder="Password" dir="auto" required
          # when defined(demo) or defined(dev):
            minlength="4"  value="test"
          # else:
            minlength="10" value=""
          # end when
          >
        </div>
      </div>
      <div class="field form-group">
        <label class="label">2 Factor Auth (TOTP)</label>
        <div class="control has-icons-left has-icons-right">
          <input type="number" class="form-control input is-rounded has-text-centered" name="totp" placeholder="6 Digit Number" min="000000" max="999999" step="1" dir="auto"
          # when defined(demo):
            value="123456"
          # end when
          >
        </div>
      </div>

      #if useCaptcha:
        <div id="recaptcha">
          <div class="g-recaptcha" data-sitekey="${recaptchaSiteKey}" data-theme="light" style="transform:scale(0.93);-webkit-transform:scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
          <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        </div>
      #end if

      <div class="field form-group">
        <label class="checkbox">
          <input type="checkbox" title="I agree to the Terms Of Service and Cookies" required checked >
            <a href="/settings/termsofservice"><small><i style="opacity:.5">I accept the Terms of Service</i></small></a>
        </label>
      </div>

      <input href="#" type="submit" class="btn btn-custom btn-blue-secondary button is-primary is-fullwidth is-rounded" value="Login" />

      ## DONT TOUCH, HoneyPot: https://github.com/ThomasTJdev/nim_websitecreator/issues/43#issue-403507393
      <input type="password" class="form-control input is-rounded" name="password2" autocomplete="false" tabindex="-1" placeholder="Password" dir="auto" minlength="10" value="" style="
      ${["display:none !important", "visibility:hidden !important", "opacity:0 !important"].rand}
      " >
      ## DONT TOUCH, HoneyPot: https://stackoverflow.com/questions/36227376/better-honeypot-implementation-form-anti-spam/36227377
    </form>
  </div>

  <footer>
    ${standardElements[2]}
  </footer>

  #else:
    <div class="notification is-danger" style="text-align: center">
      <h1>You are already logged in!</h1>
    </div>
  #end if
#end proc
#
#
#
#
#
#
#proc genUsers(c: var TData): string =
# result = ""
#
# let allUsers = getAllRows(db, sql"SELECT id, name, email, status, lastOnline, secretUrl, twofa FROM person")


<div id="users">
  <h1>Users</h1>

# if c.rank in [Admin, Moderator]:
  <div id="usersAddContainer">
    <button class="btn btn-secondary usersAdd button is-info is-fullwidth">Add new user</button>

    <form id="usersAdd" class="hidden" method="post" action="/users/add">
      <div class="field">
        <label class="label">Name</label>
        <input class="input" type="text" name="name" minlength="2" maxlength="50" required dir="auto" value="" />
      </div>
      <div class="field">
        <label class="label">Email</label>
        <input class="input" type="email" name="email" required value="" dir="auto"/>
      </div>
      <div class="field">
        <label class="label">Status</label>
        <div class="control select">
          <select name="status" class="form-control form-control-sm">
            <option value="User" selected>User</option>
            <option value="Moderator">Moderator</option>
            # if c.rank == Admin:
            <option value="Admin">Admin</option>
            #end if
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-success userDoAdd button is-success is-fullwidth">Add user</button>
    </form>
  </div>
# end if


<table class="table is-bordered is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>User</th>
      <th>Mail</th>
      <th>Last online</th>
      <th>Rank</th>
      <th>2FA</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>User</th>
      <th>Mail</th>
      <th>Last online</th>
      <th>Rank</th>
      <th>2FA</th>
      <th>Delete</th>
    </tr>
  </tfoot>
  <tbody>
# var counter: int
# for user in allUsers:
#   when defined(demo):
#     if user[3] == "Admin":
#       continue
#     end if
#   end when
#   counter += 1
  <tr>
    <td> $counter </td>
    <td> ${user[0]} </td>
    <td> ${user[1]} </td>
    <td> ${user[2]} </td>
    #   if user[5] == "":
      <td> ${epochDate(user[4], "YYYY-MM-DD HH:mm")} </td>
      <td> ${user[3]} </td>
    #   else:
      <td> Mail unconfirmed </td>
      <td> Mail unconfirmed </td>
    #   end if
    <td> ${ if user[3] == "Admin": toUpperAscii($(user[6].len > 6)) else: "???" } </td>
    <td class="is-danger has-text-centered"><a class="delete" href="/users/delete/${user[0]}" title="Kill ${user[1]} ?"></a></td>
# end for
    </tbody>
  </table>
  <br>
  <div class="notification is-danger">
    Deleting users can not be undone.
  </div>
</div>
#end proc
#
#
#
#
#
#
#proc genUsersProfile(c: var TData): string =
# result = ""
#
# let userData = getAllRows(db, sql"SELECT id, name, email, status, lastOnline, twofa FROM person WHERE id = ?", c.userid)

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.js" defer></script>

<center>
  <h1>Profile</h1>
</center>

<div id="user">

# for user in userData:

    <div class="columns">
      <div class="column">

        <form method="POST" action="/users/profile/update" style="background: white; padding: 10px; border: 1px solid grey; border-radius: 4px;">
          <div class="field" style="margin-bottom: 10px;">
            <label class="label">Name<span style="color: red;font-weight: 600;">*</span></label>
            <input id="name" name="name" type="text" placeholder="name" class="form-control input" required minlength="3" maxlength="128" value="${user[1]}" dir="auto">
          </div>

          <div class="field" style="margin-bottom: 10px;">
            <label class="label">Email<span style="color: red;font-weight: 600;">*</span></label>
            <input id="email" name="email" placeholder="email" type="email" class="form-control input" required minlength="3" maxlength="128" value="${user[2]}" dir="auto">
          </div>

          <div class="field" style="margin-bottom: 10px;">
            <label class="label">Password<span style="color: red;font-weight: 600;">*</span></label>
            <input id="password" name="password" type="password" placeholder="password" class="form-control input" maxlength="128" required value="" dir="auto"
            # when defined(demo) or defined(dev):
              minlength="4"
            # else:
              minlength="10"
            # end when
            >
          </div>

          <div class="field" style="margin-bottom: 10px;">
            <label class="label">Password<span style="color: red;font-weight: 600;">*</span></label>
            <input id="passwordConfirm" name="passwordConfirm" type="password" class="form-control input" maxlength="128" required placeholder="Confirm password" value="" dir="auto"
            # when defined(demo) or defined(dev):
              minlength="4"
            # else:
              minlength="10"
            # end when
            >
          </div>

          <div class="field" style="margin-bottom: 10px;">
            <label class="label">2 Factor Authentication</label>
            # if user[5].len() > 0:
              <input class="input twofaEnabled" disabled="disabled" value="2FA is enabled">
              <a href="#!" class="button is-danger is-small is-pulled-right	disable2fa">Disable</a>
            # else:
              <a href="#!" class="button is-info is-fullwidth show2fa">Enable</a>
              <div class="hidden twofa-container">
                <p>Open your <a href="https://freeotp.github.io">2FA App</a> and insert the code below. Test the code in input field below - on successful result, press "Save 2FA". You can Enable, Disable and Reset it at any time.</p>
                <details>
                  <summary>Extra Tech Info</summary>
                  <small><ul>
                    <li>Type:      TOTP</li>
                    <li>Digits:    6   </li>
                    <li>Algorithm: SHA1</li>
                    <li>Interval:  30  </li>
                    <li>Phone time must be correct.</li>
                    <li>Bogus codes like 000000 or 999999 or similar are ignored.</li>
                    <li>Phone must be configured to sync time with cellular network.</li>
                  </ul>
                  </small>
                  <br>
                </details>
                # proc twoFaKey(): string =
                #   const items = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
                #   for i in countUp(0, 10):
                #     result.add(rand(items))
                #   end for
                # end template
                <input type="text" id="twofa-key" class="form-control input has-text-centered" disabled="disabled" value="${twoFaKey()}">
                <input type="number" id="twofa-testcode" class="form-control input has-text-centered" placeholder="Test 2FA" min="000000" max="999999" step="1" autocomplete="off" dir="auto" value="">
                <div>
                  <a href="#!" class="button is-info is-pulled-left test2fa">Test 2FA</a>
                  <a href="#!" class="hidden button is-success is-pulled-right save2fa">Save 2FA</a>
                </div>
              </div>
            # end if
          </div>

          <div class="field" style="margin-bottom: 10px;">
            <label class="label">Status</label>
            <input type="text" class="form-control input" disabled="disabled" value="${user[3]}" dir="auto">
          </div>

          <hr>

          <div class="save">
            <button type="submit" class="btn btn-success save submit button is-success is-fullwidth">Save</button>
          </div>
        </form>

      </div>

      <div class="column">

        <div id="editProfilePhoto">
          <div id="userPictureDialogInside">
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
              <strong>Saved!</strong> Your profile picture was saved.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <button id="userPictureSave" class="btn btn-custom btn-blue-primary button is-success is-fullwidth" style="display: none; margin-bottom: 10px;">Save picture</button>
            <button id="userPictureNewdata" class="btn btn-custom btn-blue-primary button is-info is-fullwidth">Upload new picture</button>
            <br><br>
            # if fileExists(storageEFS & "/users/" & c.userid & ".png"):
              <img id="userPictureEdit" src="/users/photo/stream/${c.userid}.png" style="max-width: 100%;">
            # else:
              <img id="userPictureEdit" src="/images/avatar.jpg" style="max-width: 100%;">
            # end if

            <div style="display: none;">
              <input type="file" id="userPictureEditTemp" accept=".jpg,.jpeg,.png" title="*.jpg, *.jpeg, *.png" />
            </div>

          </div>
        </div>

      </div>
    </div>

# end for


</div>
#end proc
