#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#proc genFormLogin(c: var TData, errorMsg = ""): string =
# result = ""
# if not c.loggedIn:
#
#   let standardElements = getRow(db, sql"SELECT head, navbar, footer, title FROM settings WHERE id = ?", "1")

<head>
  ${standardElements[0]}
</head>

  <div id="login">

    <form name="login" action="/dologin" method="POST" class="box">
      <h3 style="line-height: 1.9rem;">Login to<br>${standardElements[3]}</h3>

      # when defined(demo):
        <div class="notification is-link">
          <p><b>User:</b> test@test.com</p>
          <p><b>Pass:</b> test</p>
        </div>
      # end when

      # if errorMsg.len() != 0:
      <div class="notification is-danger" style="text-align: center;font-size: 1.2rem; line-height: 1.8rem;"><b>$errorMsg</b></div>
      # end if

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input type="email" class="form-control input is-primary is-rounded" name="email" placeholder="Email" minlength="5" required autofocus
          # when defined(demo):
            value="test@test.com"
          # end when
          >
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input type="password" class="form-control input is-primary is-rounded" name="password" autocomplete="current-password" minlength="4" placeholder="Password" required
          # when defined(demo):
            value="test"
          # end when
          >
        </div>
      </div>

      <input href="#" type="submit" class="btn btn-custom btn-blue-secondary button is-primary is-fullwidth is-rounded" value="Login" />

      #if useCaptcha:
        <div id="recaptcha">
          <div class="g-recaptcha" data-sitekey="${recaptchaSiteKey}" data-theme="light" style="transform:scale(0.93);-webkit-transform:scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
          <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        </div>
      #end if
    </form>
  </div>

  <footer>
    ${standardElements[2]}
  </footer>

  #else:
    <div class="notification is-danger" style="text-align: center">
      <h1>You are already logged in!</h1>
    </div>
  #end if
#end proc
#
#
#
#
#
#
#proc genUsers(c: var TData): string =
# result = ""
#
# let allUsers = getAllRows(db, sql"SELECT id, name, email, status, lastOnline, secretUrl FROM person")


<div id="users">
  <h1>Users</h1>

# if c.rank in [Admin, Moderator]:
  <div id="usersAddContainer">
    <button class="btn btn-secondary usersAdd button is-info is-fullwidth">Add new user</button>

    <form id="usersAdd" method="post" action="/users/add">
      <div class="field">
        <label class="label">Name</label>
        <input class="input" type="text" name="name" minlength="2" maxlength="50" required value="" />
      </div>
      <div class="field">
        <label class="label">Email</label>
        <input class="input" type="email" name="email" required value="" />
      </div>
      <div class="field">
        <label class="label">Status</label>
        <div class="control select">
          <select name="status" class="form-control form-control-sm">
            <option value="User" selected>User</option>
            <option value="Moderator">Moderator</option>
            # if c.rank == Admin:
            <option value="Admin">Admin</option>
            #end if
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-success userDoAdd button is-success is-fullwidth">Add user</button>
    </form>
  </div>
# end if


<table class="table is-bordered is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Mail</th>
      <th>Last online</th>
      <th>Rank</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Mail</th>
      <th>Last online</th>
      <th>Rank</th>
      <th>Delete</th>
    </tr>
  </tfoot>
  <tbody>
# var counter: int
# for user in allUsers:
#   when defined(demo):
#     if user[3] == "Admin":
#       continue
#     end if
#   end when
#   counter += 1
  <tr>
    <td> $counter </td>
    <td> ${user[1]} </td>
    <td> ${user[2]} </td>
    #   if user[5] == "":
      <td> ${epochDate(user[4], "YYYY-MM-DD HH:mm")} </td>
      <td> ${user[3]} </td>
    #   else:
      <td> Mail unconfirmed </td>
      <td> Mail unconfirmed </td>
    #   end if
    <td class="is-danger has-text-centered"><a class="delete" href="/users/delete/${user[0]}" title="Kill ${user[1]} ?"></a></td>
# end for
    </tbody>
  </table>
  <br>
  <div class="notification is-danger">
    Deleting users can not be undone.
  </div>
</div>
#end proc
#
#
#
#
#
#
#proc genUsersProfile(c: var TData): string =
# result = ""
#
# let userData = getAllRows(db, sql"SELECT id, name, email, status, lastOnline FROM person WHERE id = ?", c.userid)

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.js" defer></script>

<center>
  <h1>Profile</h1>
</center>

<div id="user">

# for user in userData:

    <div class="columns">
      <div class="column">

        <form method="POST" action="/users/profile/update" style="background: white; padding: 10px; border: 1px solid grey; border-radius: 4px;">
          <div class="field" style="margin-bottom: 10px;">
            <label class="label">Name<span style="color: red;font-weight: 600;">*</span></label>
            <input id="name" name="name" type="text" placeholder="name" class="form-control input" required minlength="3" maxlength="128" value="${user[1]}">
          </div>

          <div class="field" style="margin-bottom: 10px;">
            <label class="label">Email<span style="color: red;font-weight: 600;">*</span></label>
            <input id="email" name="email" placeholder="email" type="email" class="form-control input" required minlength="3" maxlength="128" value="${user[2]}">
          </div>

          <div class="field" style="margin-bottom: 10px;">
            <label class="label">Password<span style="color: red;font-weight: 600;">*</span></label>
            <input id="password" name="password" type="password" placeholder="password" class="form-control input" minlength="4" maxlength="128" required value="">
          </div>

          <div class="field" style="margin-bottom: 10px;">
            <label class="label">Password<span style="color: red;font-weight: 600;">*</span></label>
            <input id="passwordConfirm" name="passwordConfirm" type="password" class="form-control input" minlength="4" maxlength="128" required placeholder="Confirm password" value="">
          </div>

          <div class="field" style="margin-bottom: 10px;">
            <label class="label">Status</label>
            <input type="text" class="form-control input" disabled="disabled" value="${user[3]}">
          </div>

          <div class="save">
            <button type="submit" class="btn btn-success save submit button is-success is-fullwidth">Save</button>
          </div>
        </form>

      </div>

      <div class="column">

        <div id="editProfilePhoto">
          <div id="userPictureDialogInside">
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
              <strong>Saved!</strong> Your profile picture was saved.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <button id="userPictureSave" class="btn btn-custom btn-blue-primary button is-success is-fullwidth" style="display: none; margin-bottom: 10px;">Save picture</button>
            <button id="userPictureNewdata" class="btn btn-custom btn-blue-primary button is-info is-fullwidth">Upload new picture</button>
            <br><br>
            # if fileExists(storageEFS & "/users/" & c.userid & ".png"):
              <img id="userPictureEdit" src="/users/photo/stream/${c.userid}.png" style="max-width: 100%;">
            # else:
              <img id="userPictureEdit" src="/images/avatar.jpg" style="max-width: 100%;">
            # end if

            <div style="display: none;">
              <input type="file" id="userPictureEditTemp" />
            </div>

          </div>
        </div>

      </div>
    </div>

# end for


</div>
#end proc
