#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#
#
#proc genNavbarLoggedinSettings(c: var TData): string =
# result = ""
<div id="navbarSettings" class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <div style="display: inline-flex; float: right;">
        <span class="nav-item" style="margin-right: 15px;"><a href="/logout">Logout</a></span>
        <span class="nav-item"><a href="/users/profile">${c.username}</a></span>
        <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false" style="padding: 0rem 1rem;">Settings</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" x-placement="bottom-end" style="position: absolute; transform: translate3d(1055px, 64px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a class="dropdown-item" href="/settings">Settings page</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/blogpagenew">Add blogpost</a>
          <a class="dropdown-item" href="/editpage/blogallpages">Edit blogpost</a>
          <a class="dropdown-item" href="/pagenew">Add page</a>
          <a class="dropdown-item" href="/editpage/allpages">Edit page</a>
        </div>
      </div>
    </div>
  </div>
</div>
#end proc
#
#
#
#
#
#proc genNavbarLoggedin(c: var TData): string =
# result = ""
<div id="navbarSettings" class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <div style="display: inline-flex; float: right;">
        <span class="nav-item" style="margin-right: 15px;"><a href="/logout">Logout</a></span>
        <span class="nav-item"><a href="/users/profile">${c.username}</a></span>
      </div>
    </div>
  </div>
</div>
#end proc
#
#
#
#  
#proc genEditHtml(): string =
# result = ""
<div id="save" data-ischanged="0" style="display: none;"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.css" integrity="sha256-o/v/5fOniPHMAww4EAIfRBFV0SeoqksPrY0Yq5x+wSM=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/theme/monokai.min.css" integrity="sha256-6ov3WWd9ybfZPeJBlXBgQuD/aLhTRCEp5kBhqD9ke0o=" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.js" integrity="sha256-U/4XQwZXDFDdAHjIZt1Lm7sFfmMiFDZzFYprq6XJ0gk=" crossorigin="anonymous" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/xml/xml.min.js" integrity="sha256-QmQ8vh5c1+UzpnyWXYB7nnY1aqpJmXPVkFWtJHJkLnE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/htmlmixed/htmlmixed.min.js" integrity="sha256-CcVYnZJocbbLCyjOo/tA2QEH56hhTBEPZX+che0RYSo=" crossorigin="anonymous"></script>

<script src="/js/editors.js" defer></script>

#end proc
#
#
#
#  
#proc genEditJs(): string =
# result = ""
<div id="save" data-ischanged="0" style="display: none;"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.css" integrity="sha256-o/v/5fOniPHMAww4EAIfRBFV0SeoqksPrY0Yq5x+wSM=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/theme/monokai.min.css" integrity="sha256-6ov3WWd9ybfZPeJBlXBgQuD/aLhTRCEp5kBhqD9ke0o=" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.js" integrity="sha256-U/4XQwZXDFDdAHjIZt1Lm7sFfmMiFDZzFYprq6XJ0gk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/javascript/javascript.min.js" integrity="sha256-MyRbKGolllWYWwxW8jH3jYdhK0p0LpgNjR8PqCa/UNQ=" crossorigin="anonymous"></script>

<script src="/js/editors.js" defer></script>

# end proc
#
#
#
#  
#proc genEditCss(): string =
# result = ""
<div id="save" data-ischanged="0" style="display: none;"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.css" integrity="sha256-fPUAOwSYkVTnL8xdLidCEi5IxW+ZVfcmNJ4m/+EGVI8=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.min.js" integrity="sha256-o5hEO6rl7yksLT3gTjQcYYDt03Lx9VwNu81FrO82Ofw=" crossorigin="anonymous" defer></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.css" integrity="sha256-o/v/5fOniPHMAww4EAIfRBFV0SeoqksPrY0Yq5x+wSM=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/theme/monokai.min.css" integrity="sha256-6ov3WWd9ybfZPeJBlXBgQuD/aLhTRCEp5kBhqD9ke0o=" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.js" integrity="sha256-U/4XQwZXDFDdAHjIZt1Lm7sFfmMiFDZzFYprq6XJ0gk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/css/css.min.js" integrity="sha256-YVb7n24DLwrjN0DghcwJYL17MI/X7e3c4EJZr6PwNdY=" crossorigin="anonymous"></script>

<script src="/js/editors.js" defer></script>

#end proc
#
#
#
#  
#proc genProfileJsCss(): string =
# result = ""
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.js" defer></script>
#end proc