#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#
#
#proc genNavbarLoggedinSettings(c: var TData): string =
# result = ""
<div id="navbarSettings" class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <div style="display: inline-flex; float: right;">
        <span class="nav-item" style="margin-right: 15px;"><a href="/logout">Logout</a></span>
        <span class="nav-item"><a href="/users/profile">${c.username}</a></span>
        <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false" style="padding: 0rem 1rem;">Settings</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" x-placement="bottom-end" style="position: absolute; transform: translate3d(1055px, 64px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a class="dropdown-item" href="/settings">Settings page</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/blogpagenew">Add blogpost</a>
          <a class="dropdown-item" href="/editpage/blogallpages">Edit blogpost</a>
          <a class="dropdown-item" href="/pagenew">Add page</a>
          <a class="dropdown-item" href="/editpage/allpages">Edit page</a>
        </div>
      </div>
    </div>
  </div>
</div>
#end proc
#
#
#
#
#
#proc genNavbarLoggedin(c: var TData): string =
# result = ""
<div id="navbarSettings" class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <div style="display: inline-flex; float: right;">
        <span class="nav-item" style="margin-right: 15px;"><a href="/logout">Logout</a></span>
        <span class="nav-item"><a href="/users/profile">${c.username}</a></span>
      </div>
    </div>
  </div>
</div>
#end proc
#
#
#
#  
#proc genEditMixed(newPage = true): string =
# result = ""
# if not newPage:
<div id="save" data-ischanged="0" style="display: none;"></div>
# end if
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/codemirror.min.css" integrity="sha256-I8NyGs4wjbMuBSUE40o55W6k6P7tu/7G28/JGUUYCIs=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/theme/monokai.min.css" integrity="sha256-jAukb65gp2gG6t4FtxpHgB3eFwM/rDUwrE2OaAp6+o8=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/codemirror.min.js" integrity="sha256-uRIJ6Wfou5cTtmcCvQNA9lvsYl8sUbZXxnfG+P79ssY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/mode/xml/xml.min.js" integrity="sha256-QmQ8vh5c1+UzpnyWXYB7nnY1aqpJmXPVkFWtJHJkLnE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/mode/javascript/javascript.min.js" integrity="sha256-soPk2bgFhLwixxuyUzaWVadUMcVwWNE5JZwYdQhL4Xk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/mode/css/css.min.js" integrity="sha256-YVb7n24DLwrjN0DghcwJYL17MI/X7e3c4EJZr6PwNdY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/mode/htmlmixed/htmlmixed.min.js" integrity="sha256-CcVYnZJocbbLCyjOo/tA2QEH56hhTBEPZX+che0RYSo=" crossorigin="anonymous"></script>

<script src="/js/codemirror_formatting.js" defer></script>

<script src="/js/editors.js" defer></script>

#end proc
#
#
#
#  
#proc genEditHtml(): string =
# result = ""
<div id="save" data-ischanged="0" style="display: none;"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.css" integrity="sha256-o/v/5fOniPHMAww4EAIfRBFV0SeoqksPrY0Yq5x+wSM=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/theme/monokai.min.css" integrity="sha256-6ov3WWd9ybfZPeJBlXBgQuD/aLhTRCEp5kBhqD9ke0o=" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.js" integrity="sha256-U/4XQwZXDFDdAHjIZt1Lm7sFfmMiFDZzFYprq6XJ0gk=" crossorigin="anonymous" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/xml/xml.min.js" integrity="sha256-QmQ8vh5c1+UzpnyWXYB7nnY1aqpJmXPVkFWtJHJkLnE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/htmlmixed/htmlmixed.min.js" integrity="sha256-CcVYnZJocbbLCyjOo/tA2QEH56hhTBEPZX+che0RYSo=" crossorigin="anonymous"></script>

<script src="/js/codemirror_formatting.js" defer></script>

<script src="/js/editors.js" defer></script>

#end proc
#
#
#
#  
#proc genEditJs(): string =
# result = ""
<div id="save" data-ischanged="0" style="display: none;"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.css" integrity="sha256-o/v/5fOniPHMAww4EAIfRBFV0SeoqksPrY0Yq5x+wSM=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/theme/monokai.min.css" integrity="sha256-6ov3WWd9ybfZPeJBlXBgQuD/aLhTRCEp5kBhqD9ke0o=" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.js" integrity="sha256-U/4XQwZXDFDdAHjIZt1Lm7sFfmMiFDZzFYprq6XJ0gk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/javascript/javascript.min.js" integrity="sha256-MyRbKGolllWYWwxW8jH3jYdhK0p0LpgNjR8PqCa/UNQ=" crossorigin="anonymous"></script>

<script src="/js/editors.js" defer></script>

# end proc
#
#
#
#  
#proc genEditCss(): string =
# result = ""
<div id="save" data-ischanged="0" style="display: none;"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.css" integrity="sha256-fPUAOwSYkVTnL8xdLidCEi5IxW+ZVfcmNJ4m/+EGVI8=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.min.js" integrity="sha256-o5hEO6rl7yksLT3gTjQcYYDt03Lx9VwNu81FrO82Ofw=" crossorigin="anonymous" defer></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.css" integrity="sha256-o/v/5fOniPHMAww4EAIfRBFV0SeoqksPrY0Yq5x+wSM=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/theme/monokai.min.css" integrity="sha256-6ov3WWd9ybfZPeJBlXBgQuD/aLhTRCEp5kBhqD9ke0o=" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.js" integrity="sha256-U/4XQwZXDFDdAHjIZt1Lm7sFfmMiFDZzFYprq6XJ0gk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/css/css.min.js" integrity="sha256-YVb7n24DLwrjN0DghcwJYL17MI/X7e3c4EJZr6PwNdY=" crossorigin="anonymous"></script>

<script src="/js/editors.js" defer></script>

#end proc
#
#
#
#  
#proc genProfileJsCss(): string =
# result = ""
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.js" defer></script>
#end proc
#
#
#
#  
#proc genPageOptions(c: var TData, page, blog, edit: bool, pageid, stdHead, stdNav, stdFoot: string): string =
# result = ""
#
# var title = ""
# var metadescription = ""
# var metakeywords = ""
#
# if edit:
#   let pageOrBlog = if page == true: "pages" else: "blog"
#   let seoData = getRow(db, sql("SELECT title, metadescription, metakeywords FROM " & pageOrBlog & " WHERE id = ?"), pageid)
#
#   title = seoData[0]
#   metadescription = seoData[1]
#   metakeywords = seoData[2]
# end if
<h5>Change editor</h5>
<div style="margin-bottom: 20px;">
  <button type="button" class="btn btn-primary switchEditorGrapesJS">Switch to GrapesJS</button>
  <button type="button" class="btn btn-primary switchEditorSummernote">Switch to Summernote</button>
  <button type="button" class="btn btn-primary switchEditorRawHTML">Switch to raw HTML</button>
</div>

# if edit:
<h5>Delete page</h5>
<div style="margin-bottom: 20px;">
  # if page:
    <a href="/page/delete?pageid=$pageid" class="btn btn-danger newblogSave">Delete page</a>
  # else:
    <a href="/blogpage/delete?blogid=$pageid" class="btn btn-danger newblogSave">Delete blogpost</a>
  # end if
</div>
# end if

<h5>HTML</h5>
<div style="margin-bottom: 20px;">
  <p style="font-size: 0.8rem; line-height: 1rem; font-style: italic; margin: 2px;">If you disable standard components, you have to include style and js tags by yourself.</p>
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input id="standardhead" class="checkbox" name="standardhead" type="checkbox" ${checkboxToChecked($stdHead)}> 
      </div>
    </div>
    <div class="form-control">
      Use standard head &lt;head&gt;
    </div>
  </div>
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input id="standardnavbar" class="checkbox" name="standardnavbar" type="checkbox" ${checkboxToChecked($stdNav)}> 
      </div>
    </div>
    <div class="form-control">
        Use standard navbar &lt;navbar&gt;
    </div>
  </div>
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input id="standardfooter" class="checkbox" name="standardfooter" type="checkbox" ${checkboxToChecked($stdFoot)}> 
      </div>
    </div>
    <div class="form-control">
        Use standard footer &lt;footer&gt;
    </div>
  </div>
</div>

<h5>SEO</h5>
<i>HTML is not allowed!</i>
<div style="margin-bottom: 20px;">
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text" style="width: 122px;">Title</span>
    </div>
    <input name="title" class="form-control" value="${title}">
  </div>

  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text" style="width: 122px;">Meta description</span>
    </div>
    <textarea name="metadescription" class="form-control">${metadescription}</textarea>
  </div>

  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text" style="width: 122px;">Meta keywords</span>
    </div>
    <textarea name="metakeywords" class="form-control" placeholder="Separate each keywords with a comma, e.g. blog,design,code">${metakeywords}</textarea>
  </div>
    
</div>
#end proc
#
#
#
#  
#proc genPageEditorMainNew(c: var TData, classBlogPage: string): string =
# result = ""
#
# if c.req.cookies.hasKey("editor") and c.req.cookies["editor"] == "html":
  <textarea name="editordata" id="editordataCodemirror">
    <div id="mainContainer" class="${classBlogPage}">
      <h1>Title</h1>
      <p>The first paragraph</p>
      <hr/>
      <div class="row">
        <div class="col-12 col-md-6">
          <p>Column 1</p>
        </div>
        <div class="col-12 col-md-6">
          <p>Column 2</p>
        </div>
      </div>
    </div>
  </textarea>
# elif c.req.cookies.hasKey("editor") and c.req.cookies["editor"] == "summernote":
  <textarea id="summernoteHidden" name="editordata" style="display: none;"></textarea>

  <div id="summernote" class="summernote">
    <div id="mainContainer" class="${classBlogPage}">
      <h1>Title</h1>
      <p>The first paragraph</p>
      <hr/>
      <div class="row">
        <div class="col-12 col-md-6">
          <p>Column 1</p>
        </div>
        <div class="col-12 col-md-6">
          <p>Column 2</p>
        </div>
      </div>
    </div>
  </div>
# else:
  <div id="gjs" class="gls">
    <div id="mainContainer" class="${classBlogPage}">
      <h1>Title</h1>
      <p>The first paragraph</p>
      <hr/>
      <div class="row">
        <div class="col-12 col-md-6">
          <p>Column 1</p>
        </div>
        <div class="col-12 col-md-6">
          <p>Column 2</p>
        </div>
      </div>
    </div>
    <style>
      body.gjs-dashed {
        background: transparent;
      }
    </style>
  </div>

  <textarea id="gjshidden" name="editordata" style="display: none"></textarea>
# end if
#end proc
#
#
#
#  
#proc genPageEditorMainEdit(c: var TData, content: string): string =
# result = ""
#
# if c.req.cookies.hasKey("editor") and c.req.cookies["editor"] == "html":
#
  <textarea name="editordata" id="editordataCodemirror">${content}</textarea>
#
# elif c.req.cookies.hasKey("editor") and c.req.cookies["editor"] == "summernote":
#
  <div id="summernoteContainer">
    <textarea id="summernoteHidden" name="editordata" style="display: none;"></textarea>
    <div id="summernote" class="summernote">
      ${content}
    </div>
  </div>
#
# else:
#
  <div id="gjs" class="gls">${content}</div>
  <textarea id="gjshidden" name="editordata" style="display: none"></textarea>
#
# end if
#
#end proc
#
#
#
#  
#proc genPageEditorImport(c: var TData, isNewPage: bool): string =
# result = ""
# if c.req.cookies.hasKey("editor") and c.req.cookies["editor"] == "html":
#
  ${genEditMixed(isNewPage)}
#
# elif c.req.cookies.hasKey("editor") and c.req.cookies["editor"] == "summernote":
#
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.css" integrity="sha256-fPUAOwSYkVTnL8xdLidCEi5IxW+ZVfcmNJ4m/+EGVI8=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.js" integrity="sha256-D7wVIdz0dDoz21KQ/Z1cFnFXyrPcomZKBrVGLWE8vhg=" crossorigin="anonymous" defer></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js" defer></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-nim.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-css.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-javascript.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-python.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-bash.min.js" defer></script>
<script src="/js/editors.js" defer></script>
#
# else:
#
<script src="https://unpkg.com/grapesjs" defer></script>
<script src="/js/grapesjsbs4.min.js" defer></script>
<script src="/js/grapesjs_custom.js" defer></script>
<script src="/js/editors.js" defer></script>
<link rel="stylesheet" href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" />
<script>
function grapeJsLoadAssets() {
  const am = editor.AssetManager;
  am.add([

# var multiple = false
# for file in walkFiles("public/images/*"):
#   if multiple:
      ,{src: '${replace(file, "public", "")}'}
#   else:
      {src: '${replace(file, "public", "")}'}
#     multiple = true
#   end if
# end for  

  ]);
  am.render();
}
</script>
# end if
#end proc