#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#
#proc genContactSettings*(c: var TData): string =
# result = ""

<link rel="stylesheet" href="/css/contact_private.css" />

<div style="text-align: center;">
  <h1>Contact settings</h1>
</div>

<div id="contact" style="width: 300px; margin-left: auto; margin-right: auto;">

  <div>----------------------------------------------------------------</div>
  <div> Package:      $pluginTitle plugin</div>
  <div> Author:       $pluginAuthor</div>
  <div> Version:      $pluginVersion</div>
  <div> Version date: $pluginVersionDate</div>
  <div>----------------------------------------------------------------</div>

  <br>

  <div>
    You can access the plgin at <a href="/contact">/contact</a>
  </div>
</div>

#end proc
#
#
#
#
#proc genContactMain*(c: var TData, db: DbConn, onlyNew = true): string =
# result = ""
#

<link rel="stylesheet" href="/css/contact_private.css" />

<div style="text-align: center;">
  <h1>Contact</h1>
</div>

<div id="contact">

# if emailSupport.len < 1:
#
  <div style="text-align: center">
    <h3><i>There is no support email available</i></h3>

    # when defined(demo):
    <div>
      <i>This is a test page so email is disabled</i>
    </div>
    # end when
    
  </div>
#
# else:
#
  <form method="post" action="/contact/send" class="contact">
    <h3>Send an email to the team behind $title</h3>

    # when defined(demo):
    <div>
      <i>This is a test page so email is disabled</i>
    </div>
    # end when

    <div class="form-group">
      <label for="contactName">Your name</label>
      <input type="text" name="name" class="form-control" id="contactName" required>
    </div>

    <div class="form-group">
      <label for="contactEmail">Your email address</label>
      <input type="email" name="email" class="form-control" id="contactEmail" placeholder="name@example.com" required>
    </div>

    <div>
      <textarea class="form-control" id="contactContent" name="content" rows="3" required></textarea>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Send email</button>
    </div>

    #if useCaptcha:
    <div id="recaptcha">
      <div class="g-recaptcha" data-sitekey="${recaptchaSiteKey}" data-theme="light" style="transform:scale(0.93);-webkit-transform:scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>      
    </div>
    #end if
  </form>
# end if

</div>
#end proc
#
#
#
#
#proc genContactSend*(c: var TData, db: DbConn, data: string): string =
# result = ""

<link rel="stylesheet" href="/css/contact_private.css" />

<div style="text-align: center;">
  <h1>Contact</h1>
</div>

<div id="contact">

  <div style="text-align: center">
    <h4>${decodeUrl(data)}</h4>
  </div>

  <div style="text-align: center;">
    <a href="/contact">Send an email</a>
  </div>

</div>

#end proc